{% autoescape false %}
    <div class="box-header">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="float-right">
                <a  href="{{ url('legacy_index') }}main/admin/system_announcements.php" class="btn btn-light btn-sm" >
                    <i class="fas fa-pencil-alt"></i>
                </a>
            </div>
        {% endif %}
        <h5>{{ "SystemAnnouncements" | get_lang }}</h5>
    </div>
    <div id="carousel-announcement" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for announcement in announcements %}
                <li data-target="#carousel-announcement"
                    data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for announcement in announcements %}
                <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
                    {% if announcement.readMore %}
                        <div class="block-text">
                            {{ announcement.content }}
                            <a href="{{ _p.web }}news_list.php?id={{ announcement.id }}">{{ "More" | get_lang }}</a>
                        </div>
                    {% else %}
                        {{ announcement.content }}
                    {% endif %}
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ announcement.title }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel-announcement" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-announcement" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endautoescape %}