{% extends '@ChamiloCore/Layout/layout_one_col.html.twig' %}

{% block chamilo_head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ cssUrl }}">
{% endblock %}

{% block content %}
    <div class="text-center my-10">
        {% if logoUrl %}
            <img
                    src="{{ logoUrl }}"
                    alt="Logo"
                    class="mx-auto h-20 mb-6"
            />
        {% endif %}

        <div
                class="mx-auto p-6 rounded-lg shadow-md md:w-3/4 lg:w-1/2"
                style="background-color: rgb(var(--color-danger-base)); color: rgb(var(--color-danger-button-text));"
        >
            <p class="mb-4" style="font-size: 1.5rem; font-weight: bold;">
                {{ 'Oops! URL not registered.'|trans }}
            </p>

            <p class="mb-4" style="font-size: 1.2rem;">
                {{ 'The address "%host%" is not configured in this portal instance.'|trans({'%host%': host}) }}
            </p>

            <p class="mb-6" style="font-size: 1rem;">
                {{ 'If the problem persists, please contact support.'|trans }}
            </p>
        </div>
    </div>
{% endblock %}
