<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="{{app.request.locale}}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="{{app.request.locale}}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="{{app.request.locale}}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="{{app.request.locale}}" class="no-js"> <!--<![endif]-->

{% include "@ChamiloCore/Layout/head.html.twig" %}

{% autoescape false %}
<body class="{{section_name}}">
    <div class="page-blank">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
</body>
</html>
{% endautoescape %}