<head>
    <meta charset="utf-8">
    <link href="https://chamilo.org/chamilo-lms/" rel="help" />
    <link href="https://chamilo.org/the-association/" rel="author" />
    <link href="https://chamilo.org/the-association/" rel="copyright" />
    <link rel="apple-touch-icon" href="{{ url('index') ~ 'apple-touch-icon.png' }}" />
    <link rel="shortcut icon" href="{{ theme_asset('images/favicon.ico') }}" type="image/x-icon" />
    <title>
        {%- block title %}
            {{ chamilo_settings_get('platform.institution') }} - {{ chamilo_settings_get('platform.site_name') }}
        {%- endblock -%}
    </title>
    {% set bug_notification_link = '' %}
    {% set help_content = '' %}
    {% set header_extra_content = '' %}
    {% set template = 'default' %}
    {% set notification_menu = '' %}
    {% set accessibility = '' %}
    {% set containerClass = '' %}
    {% set breadcrumb = '' %}
    {% set user_notifications = '' %}
    {% set message_url = '' %}
    {% set profile_link = '' %}
    {% set message_link = '' %}
    {%- block stylesheets %}
        {{ encore_entry_link_tags('legacy_free-jqgrid') }}
        {{ encore_entry_link_tags('legacy_app') }}
        {{ encore_entry_link_tags('legacy_lp') }}
        {{ encore_entry_link_tags('legacy_exercise') }}
        {{ encore_entry_link_tags('legacy_document') }}
        {{ encore_entry_link_tags('vue') }}
        {{ encore_entry_link_tags('app') }}

        {% if lp_view is defined %}
            {{ encore_entry_link_tags('css/scorm') }}
        {% endif %}

        {{ theme_asset_link_tag('colors.css') }}

        {# <link rel="stylesheet" href="theme_asset('print.css')" media="print" /> #}
    {% endblock %}

    {{ encore_entry_script_tags('legacy_free-jqgrid') }}
    {{ encore_entry_script_tags('legacy_app') }}
    {{ encore_entry_script_tags('legacy_lp') }}
    {{ encore_entry_script_tags('legacy_exercise') }}
    {{ encore_entry_script_tags('legacy_document') }}
    {# Add third party js libraries that can't be loaded using webpack #}
    {# <script src="{{ asset('libs/readmore-js/readmore.js') }}"></script> #}
    {# <script src="{{ url('index') ~ 'build/libs/js-cookie/src/js.cookie.js' }}"></script> #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# Check chamilo_js key in assetic.yml #}
    {% block javascripts %}
        {% block chamilo_header_js %}
            {# Loading legacy js using the $htmlHeadXtra array #}
            {% autoescape false %}
                {% for js in legacy_javascript %}
                    {{~ js }}
                {% endfor %}
            {% endautoescape %}
        {% endblock %}
    {% endblock %}
</head>
