{% autoescape false %}
<header id="app_header" class="app-header navbar">
    <a class="navbar-brand" href="{{ url('home') }}">
        <img class="navbar-brand-full" width="130"
             src="{{ url('home') ~ 'build/css/themes/'~ theme ~'/images/header-logo.png' }}"
             alt="Chamilo"/>
    </a>
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link"
               href="{{ url('legacy_main', { 'name' : 'auth/courses.php' }) }}" id="btncatalog" role="button" >
                {{ "Course catalog"|trans }}
            </a>
        </li>


        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </ul>

    <ul class="nav navbar-nav ml-auto">
        {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="{{ url('legacy_main', { 'name' : 'index/user_portal.php' }) }}">
                {{ 'My courses'|trans }}
            </a>
        </li>
        {#<li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="badge badge-pill badge-success">1</span>
            </a>
        </li>#}
        {#{% if language_form %}
            <li class="nav-item d-md-down-none">
                {{ language_form }}
            </li>
        {% endif %}#}
            <li class="nav-item d-md-down-none">
                <a id="list_notifications_friends"
                   class="nav-link"
                   data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-bell"></i>
                    <span id="notifications-social" class="badge badge-pill badge-danger"></span>
                </a>
                <ul id="list_friends" class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item">
                        {{ "Your recent notifications"|trans }}
                        <span class="badge badge-pill badge-warning float-right">{{ "View all"|trans }}</span>
                    </a>
                    <div class="content">
                        <div class="spinner"></div>
                    </div>
                </ul>
            </li>
            <li class="nav-item d-md-down-none">
                <a id="list_notifications_inbox"
                   class="nav-link"
                   href="#" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-envelope"></i>
                    <span id="notifications-inbox" class="badge badge-pill badge-info"></span>
                </a>
                <ul id="list_inbox" class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item">
                        {{ "Recent messages"|trans }}
                        <span class="badge badge-pill badge-warning float-right">{{ "View all"|trans }}</span>
                    </a>
                    <div class="content">
                        <div class="spinner"></div>
                    </div>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link nav-link-user dropdown-toggle d-sm-inline-block mr-2"
                   data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ app.user | illustration }}?w=32&h=32&fit=crop">
                    <span class="d-none">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>{{ app.user.username }}</strong>
                    </div>

                    <a class="dropdown-item" href="{{ url('chamilo_core_account_home') }}">
                        <i class="fa fa-user"></i>
                        {{ "My profile"|trans }}
                    </a>

                    <a class="dropdown-item" href="{{ url('legacy_main', { 'name' : 'survey/pending.php' }) }}">
                        <i class="fa fa-chart-pie"></i> {{ 'Pending surveys'|trans }}
                    </a>
                    <a class="dropdown-item" title="{{ "My certificates"|trans }}"
                       href="{{ url('legacy_main', { 'name' : 'gradebook/my_certificates.php' }) }}">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                         {{ "My certificates"|trans }}
                    </a>
    {#                <a class="dropdown-item" href="{{ url('legacy_main', { 'name' : 'messages/inbox.php' }) }}">#}
{#                    <i class="fa fa-envelope" aria-hidden="true"></i>#}
{#                     {{ "Inbox"|trans }}#}
{#                    <span class="badge badge-success">42</span>#}
{#                </a>#}

                {% if is_granted('ROLE_ADMIN') %}
                <a class="dropdown-item" href="{{ url('legacy_main', { 'name' : 'admin/index.php' }) }}">
                    <i class="fa fa-wrench"></i> {{ "Administration"|trans }}
                </a>
                {% endif %}
                <a class="dropdown-item" id="logout_button" title="{{ "Logout"|trans }}"
                   href="{{ path('logout') }}">
                    <i class="fa fa-sign-out-alt"></i>
                    {{ "Logout"|trans }}
                </a>
            </div>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="btn btn-link" href="{{ url('legacy_main', { 'name' : 'auth/inscription.php' }) }}">
                <i class="fas fa-pencil-alt"></i>
                {{ "Sign up!"|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-link" href="{{ url('login') }}">
                <i class="fas fa-sign-in-alt"></i>
                {{ "Sign in"|trans }}
            </a>
        </li>
    {% endif %}
    </ul>
</header>
{% endautoescape %}