{% extends '@ChamiloCore/Layout/base-layout.html.twig' %}
{%- block page_content %}
    {% if from_vue %}
        <script src="{{ url('home') ~ 'build/runtime.js' }}"></script>
        <script src="{{ url('home') ~ 'build/app.js' }}"></script>
        <link rel="stylesheet" href="{{ url('home') ~ 'build/css/app.css' }}"/>
        <link rel="stylesheet" href="{{ url('home') ~ 'build/vue.css' }}"/>

        {# Loading legacy js using the $htmlHeadXtra array #}
        {% autoescape false %}
            {% for js in legacy_javascript %}
                {{~ js }}
            {% endfor %}
        {% endautoescape %}
    {% endif %}

    {%- autoescape false %}
        {% if js is defined %}
            {%- for item in js %}
                {{- item }}
            {% endfor %}
        {% endif %}

        {% if plugin_main_top %}
            <div id="plugin_main_top" class="col-md-12">
                {{ plugin_main_top }}
            </div>
        {% endif %}

        {% if plugin_content_top %}
            <div id="plugin_content_top" class="col-md-12">
                {{ plugin_content_top }}
            </div>
        {% endif %}

        {% if show_course_shortcut is not null %}
            <div class="nav-tools">
                {{ show_course_shortcut }}
            </div>
        {% endif %}
    {% endautoescape -%}

    {%- autoescape %}
    {% if not from_vue %}
        {%- include '@ChamiloCore/Layout/vue_setup.html.twig' %}
    {% endif %}
    {% endautoescape -%}

    {% set hideContent = 'display: none' %}
    {% if from_vue %}
        {% set hideContent = '' %}
    {% endif %}
    {%- autoescape false %}
        <section id="sectionMainContent" class="section-content" style="{{ hideContent }}">
            {% if introduction is defined %}
                {{ introduction }}
            {% endif %}

            {% if actions != '' %}
                {{ actions }}
            {% endif %}

            {%- block content %}
                {{ content }}
            {% endblock -%}
        </section>

        {% if plugin_content_bottom %}
            <div id="plugin_content_bottom" class="col-md-12">
                {{ plugin_content_bottom }}
            </div>
        {% endif %}

        {% if plugin_main_bottom %}
            <div id="plugin_main_bottom" class="col-md-12">
                {{ plugin_main_bottom }}
            </div>
        {% endif %}
    {% endautoescape -%}

    {% if not from_vue %}
    <script src="{{ url('home') ~ 'build/vue.js' }}"></script>
    {% endif %}

{% endblock -%}
