{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
    <section id="change-password" class="py-8">
        <div class="mx-auto w-full">
            <h2 class="text-2xl font-semibold text-center mb-6">{{ "Change Password"|trans }}</h2>

            {{ form_start(form, {'attr': {'class': 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}}) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if form.vars.errors|length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div class="mb-4">
                {{ form_label(form.currentPassword) }}
                {{ form_widget(form.currentPassword, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.currentPassword) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.newPassword) }}
                {{ form_widget(form.newPassword, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.newPassword) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.confirmPassword) }}
                {{ form_widget(form.confirmPassword, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.confirmPassword) }}
            </div>

            <div class="flex items-center justify-center">
                <input type="hidden" name="_token" value="{{ csrf_token('change_password') }}">
                <button type="submit" class="btn btn--primary mt-4">{{ "Change Password"|trans }}</button>
            </div>

            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
