{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
    <section id="change-password" class="py-8">
        <div class="mx-auto w-full">
            <h2 class="text-2xl font-semibold text-center mb-6">{{ "Change Password"|trans }}</h2>

            {{ form_start(form, {'attr': {'class': 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}}) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if form.vars.errors|length > 0 %}
                <div class="alert alert-danger" id="server-errors">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div class="mb-4 relative">
                {{ form_label(form.currentPassword) }}
                {{ form_widget(form.currentPassword, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'id': 'change_password_currentPassword'}}) }}
                <span class="toggle-password absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" data-target="#change_password_currentPassword">
                    <i class="mdi mdi-eye-outline text-gray-700"></i>
                </span>
                {{ form_errors(form.currentPassword) }}
            </div>

            <div class="mb-4 relative">
                {{ form_label(form.newPassword) }}
                {{ form_widget(form.newPassword, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'id': 'change_password_newPassword'}}) }}
                <span class="toggle-password absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" data-target="#change_password_newPassword">
                    <i class="mdi mdi-eye-outline text-gray-700"></i>
                </span>
                <ul id="password-requirements" class="text-sm text-red-500 mt-2" style="display: none;"></ul>
                <div id="new-password-errors">
                    {{ form_errors(form.newPassword) }}
                </div>
            </div>

            <div class="mb-4 relative">
                {{ form_label(form.confirmPassword) }}
                {{ form_widget(form.confirmPassword, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'id': 'change_password_confirmPassword'}}) }}
                <span class="toggle-password absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" data-target="#change_password_confirmPassword">
                    <i class="mdi mdi-eye-outline text-gray-700"></i>
                </span>
                {{ form_errors(form.confirmPassword) }}
            </div>

            <div class="flex items-center justify-center">
                <input type="hidden" name="_token" value="{{ csrf_token('change_password') }}">
                <button type="submit" class="btn btn--primary mt-4">{{ "Change Password"|trans }}</button>
            </div>

            {{ form_end(form) }}
        </div>
    </section>

    {{ password_checker_js('#change_password_newPassword') }}

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const togglePasswordButtons = document.querySelectorAll('.toggle-password');
        togglePasswordButtons.forEach(button => {
          button.addEventListener('click', function() {
            const input = document.querySelector(this.getAttribute('data-target'));
            if (input) {
              const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
              input.setAttribute('type', type);

              this.querySelector('i').classList.toggle('mdi-eye-outline');
              this.querySelector('i').classList.toggle('mdi-eye-off-outline');
            }
          });
        });

        const newPasswordInput = document.querySelector('#change_password_newPassword');
        const newPasswordErrors = document.querySelector('#new-password-errors');
        const serverErrors = document.querySelector('#server-errors');

        newPasswordInput.addEventListener('input', function() {
          if (serverErrors) {
            serverErrors.style.display = 'none';
          }
          if (newPasswordErrors) {
            newPasswordErrors.style.display = 'none';
          }
        });
      });
    </script>
{% endblock %}
