{% block content %}
{% autoescape false %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    {% for description in listing.descriptions %}
        {% if not description is empty %}
            <div id="description_{{ description.description_type }}" class="card"
                 data-id="{{ description.id }}" data-c_id="{{ description.c_id }}" data-type="course_description">

                <div class="card-body">
                    <h5 class="card-title">
                        {% if is_allowed_to_edit %}
                            <div class="float-right">
                                <div class="btn-group btn-group-sm" role="group">
                                    {% if session_id == description.session_id %}
                                        <a class="btn btn-light" href="{{ _p.web_self }}?action=edit&amp;id={{ description.id }}&amp;{{ _p.web_cid_query }}"
                                           title="{{ 'Edit'|get_lang }}">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a class="btn btn-light delete-swal" href="{{ _p.web_self }}?action=delete&amp;id={{ description.id }}&amp;{{ _p.web_cid_query }}"
                                           title="{{ 'Delete'|get_lang }} {{ description.title_js }}">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    {% else %}
                                        <a class="btn btn-light disabled" href="#"
                                           title="{{ 'EditionNotAvailableFromSession'|get_lang }}">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {{ description.title }}
                    </h5>
                    {{ description.content }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endautoescape %}
{% endblock %}