<p>{{ 'Dear'|trans }} {{ complete_name }},</p>
<p>{{ 'You are registered to'|trans }} {{ 'site_name' | api_get_setting }} {{ 'with the following settings:'|trans }}</p>
<p>{{ 'Username'|trans }} : {{ login_name }}<br>
    {{ 'Pass'|trans }} : {{ original_password }}</p>
<p>{{ 'Thanks for registering to %s.'|trans|format('site_name' | api_get_setting) }}</p>
<p>{{ 'Address'|trans }} {{ 'site_name' | api_get_setting }} {{ 'is'|trans }} : {{ mailWebPath }}</p>
<p>{{ 'In case of trouble, contact us.'|trans }}</p>

{% include '@ChamiloCore/Mailer/Legacy/_admin_signature_footer.html.twig' %}