{% autoescape false %}
    <p>{{ 'Dear'|trans }} {{ complete_name }},</p>
    <p>{{ 'Welcome to this platform'|trans }}</p>
    <p>{{ 'You are registered to'|trans }} {{ 'platform.site_name' | api_get_setting }} {{ 'with the following settings:'|trans }}</p>
    <p>{{ 'Username'|trans }} : {{ login_name }}<br>
        {{ 'Pass'|trans }} : {{ original_password }}</p>
    <p>{{ 'For more details visit %s'|trans|format(search_link) }}</p>
    <p>{{ 'In case of trouble, contact us.'|trans }}</p>

    <p>{{ 'Sincerely'|trans }}</p>
    <p>{{ 'admin.administrator_name' | api_get_setting }} {{ 'admin.administrator_surname' | api_get_setting }}<br />
        {{ 'Manager'|trans }} {{ 'platform.site_name' | api_get_setting }}<br />

        {% if 'admin.administrator_phone' | api_get_setting %}
            {{ 'T. ' ~ 'admin.administrator_phone' | api_get_setting }}<br />
        {% endif %}
        {% if 'admin.administrator_email' | api_get_setting %}
            {{ 'Email'|trans ~ ': ' ~ 'admin.administrator_email' | api_get_setting }}
        {% endif %}
    </p>
{% endautoescape %}
