<p>{{ 'DearXComma'|trans|format(name_teacher) }}</p>
<p>{{ 'TheStudentXHasFinishedTheCourseYLearningPaths'|trans|format(name_student, course_name) }}</p>
<p>{{ course_url }}</p>
<p>{{ 'SignatureFormula'|trans }}</p>
<p>{{ prefix ? prefix }}</p>
<br>
