<p>{{ 'Dear'|trans }} {{ complete_name }},</p>
<p>{{ 'YouAreReg'|trans }} {{ _s.site_name }} {{ 'WithTheFollowingSettings'|trans }}</p>
    {{ 'Pass'|trans }} : {{ original_password }}</p>
<p>{{ 'YouReceivedAnEmailWithTheUsername'|trans }}</p>
<p>{{ 'ThanksForRegisteringToSite'|trans|format(_s.site_name) }}</p>
<p>{{ 'Address'|trans }} {{ _s.site_name }} {{ 'Is'|trans }} : {{ mailWebPath }}</p>
<p>{{ 'Problem'|trans }}</p>
{% include '@ChamiloCore/Mailer/Legacy/_admin_signature_footer.html.twig' %}