<p>{{ 'DearXComma'|trans|format(hrm_name) }}</p>
<p>{{ 'AsHRMYouReceiveThisMailToAlertThatXHasNewWorkInCourseY'|trans | format(student.complete_name, course.name) }}</p>
<dl>
    <dt>{{ 'Student'|trans }}</dt>
    <dd>{{ student.complete_name }}</dd>
    <dt>{{ 'Course'|trans }}</dt>
    <dd>{{ course.name }} - {{ course.code }}</dd>
    <dt>{{ 'AssignmentName'|trans }}</dt>
    <dd>{{ work.title }}</dd>
    <dd>{{ work.description }}</dd>

    {% if work.qualification %}
        <dt>{{ 'QualificationNumeric'|trans }}</dt>
        <dd>{{ work.qualification }}</dd>
    {% endif %}
    {% if work.expires_on %}
        <dt>{{ 'ExpiresAt'|trans }}</dt>
        <dd>{{ work.expires_on|api_convert_and_format_date(6) }}</dd>
    {% endif %}
    {% if work.ends_on %}
        <dt>{{ 'EndsAt'|trans }}</dt>
        <dd>{{ work.ends_on|api_convert_and_format_date(6) }}</dd>
    {% endif %}
</dl>
