{% extends "::layout.html.twig" %}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% set namespace = app.request.get('namespace') %}

{% block page_title %}
    {{ namespace }}
{% endblock %}

{% block page_subtitle %}
    {{ 'Settings' | trans }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_errors(form) }}
                    <form action="{{ path('chamilolms_%s_settings' | format(namespace) ) }}" method="post" novalidate>
                        {{ form_rest(form) }}
                        {{ update() }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
