
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.general_settings'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-info-sign"></i> {{ 'sylius.settings.general_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('chamilolms_corebundle_platform_settings') }}" method="post" class="form-horizontal" novalidate>
    {{ form_rest(form) }}
    {{ update() }}
</form>
{% endblock %}
