{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
    {% autoescape false %}
        <div class="page-header">
            <h4>{{ "SystemAnnouncements" | trans }}</h4>
        </div>

        {% if not announcement is empty %}
            <article id="announcement-{{ announcement.id }}}">
                <div class="page-header">
                    <h3>{{ announcement.title }}</h3>
                    {{ announcement.content }}
                </div>
            </article>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {{ "NoResults" | trans }}
            </div>
        {% endif %}
    {% endautoescape %}
{% endblock %}


