{% extends '@ChamiloPage/base_layout.html.twig' %}

{% block sonata_page_content %}
    {{ parent() }}
        {% if page is defined %}
            <div class="col-md-6">
                {% if page.name != 'global'%}
                    {{ sonata_page_render_container('left_col', 'global') }}
                {% endif %}
                {{ sonata_page_render_container('left_col', page) }}
            </div>
            <div class="col-md-6">
                {% if page.name != 'global'%}
                    {{ sonata_page_render_container('right_col', 'global') }}
                {% endif %}
                {{ sonata_page_render_container('right_col', page) }}
            </div>
            <div style="clear: both"></div>
        {% endif %}
{% endblock %}

