{% extends '@ChamiloTheme/Layout/layout_cms.html.twig' %}

{% block sonata_page_container %}
    <div class="content">
        <div class="row page-header">
            {{ sonata_page_render_container('header', 'global') }}
        </div>

        {% block sonata_page_breadcrumb %}
            <div class="row">
                {{ sonata_block_render_event('breadcrumb', { 'context': 'page', 'current_uri': app.request.requestUri }) }}
            </div>
        {% endblock %}

        {% if page is defined %}
            <div class="row">
                {% if page.name != 'global'%}
                    {{ sonata_page_render_container('content_top', 'global') }}
                {% endif %}
                {{ sonata_page_render_container('content_top', page) }}
            </div>
        {% endif %}

        <div class="row">
            {% block page_content %}
                {% if content is defined %}
                    {{ content|raw }}
                {% else %}
                    {% set content = block('content') is defined ? block('content') : '' %}
                    {% if content|length > 0 %}
                        {{ content|raw }}
                    {% elseif page is defined %}
                        {{ sonata_page_render_container('content', page) }}
                    {% endif %}
                {% endif %}
            {% endblock %}
        </div>

        {% if page is defined %}
            <div class="row">
                {{ sonata_page_render_container('content_bottom', page) }}

                {% if page.name != 'global'%}
                    {{ sonata_page_render_container('content_bottom', 'global') }}
                {% endif %}
            </div>
        {% endif %}
    </div>

    <footer class="row">
        {{ sonata_page_render_container('footer', 'global') }}
    </footer>

{% endblock %}
