<div class="row issued">
    <div class="col-md-5">
        <div class="thumbnail">
            <figure class="text-center">
                <img class="img-fluid center-block"
                     src="{{ issue_info.skill_badge_image }}"
                     alt="{{ issue_info.skill_name }}"
                >
                <figcaption>
                    <p class="lead">{{ issue_info.skill_name }}</p>
                    {% if issue_info.skill_short_code %}
                        <p>{{ issue_info.skill_short_code }}</p>
                    {% endif %}
                </figcaption>
            </figure>
            <div class="caption">
                {% if issue_info.skill_description %}
                    <p>{{ issue_info.skill_description }}</p>
                {% endif %}
                {% if issue_info.skill_criteria %}
                    <h4>{{ 'Criteria to earn the badge'|trans }}</h4>
                    <p>{{ issue_info.skill_criteria }}</p>
                {% endif %}
            </div>
        </div>

        {% if not personal_badge is empty %}
            <p class="text-center">
                <a href="{{ personal_badge }}" class="btn btn--primary" target="_blank" >
                    <em class="fa fa-download fa-fw"></em> {{ 'Download badges'|trans }}
                </a>
            </p>
        {% endif %}

        {% if allow_export %}
            <hr>
            <p class="text-center">
                <a href="#" class="btn btn--success" id="badge-export-button">
                    <em class="fa fa-external-link-square fa-fw"></em> {{ 'Export badge'|trans }}
                </a>
            </p>
            <div class='col-md-12 text-center'>
                <h5><b> {{ 'Share with your friends'|trans }} </b></h5>
                <a href="http://www.facebook.com/sharer.php?u={{ url('badge_issued', { 'id': issue_info.id }) }}" target="_blank">
                    <em class='fa fa-facebook-square fa-3x text-info' aria-hidden='true'></em>
                </a>
                <a href="https://twitter.com/home?status={{ 'I have achieved skill %s on %s'|trans|format(
                    issue_info.skill_name, chamilo_settings_get('platform.site_name')
                ) }} - {{ url('badge_issued', { 'id': issue_info.id }) }}"
                   target="_new">
                    <em class='fa fa-twitter-square fa-3x text-light' aria-hidden='true'></em>
                </a>
                <a href="{{ 'https://www.linkedin.com/profile/add?' ~ {
                    'certId':issue_info.id,
                    'certUrl': url('badge_issued', { 'id': issue_info.id }),
                    'isFromA2p':'true',
                    'issueMonth':issue_info.month,
                    'issueYear': issue_info.year,
                    'name':'Badge: %s'|trans|format(issue_info.skill_name),
                    'organizationId':issue_info.linkedin_organization_id
                }|url_encode }}" target="_new">
                    <em class='fa fa-linkedin-square fa-3x txt-linkedin' aria-hidden='true'></em>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="col-md-7">
        <h3>{{ 'Recipient details'|trans }}</h3>
        <p class="lead">{{ issue_info.user_complete_name }}</p>
        <h4>{{ 'Skill acquired at'|trans }}</h4>
        <ul class="fa-ul">
            <li>
                {% if issue_info.source_name %}
                    <em class="fa-li fa fa-clock-o fa-fw"></em>
                    {{ '%s through %s'|trans|format(issue_info.datetime, issue_info.source_name) }}
                {% else %}
                    <em class="fa-li fa fa-clock-o fa-fw"></em>
                    {{ issue_info.datetime }}
                {% endif %}
                {% if issue_info.argumentation %}
                    <strong>
                        <p style="font-style: italic;">
                            {{ 'User %s indicated:'|trans|format(issue_info.argumentation_author_name) }}
                        </p>
                    </strong>
                    <p>{{ issue_info.argumentation }}</p>
                {% endif %}
            </li>
        </ul>

        {% if show_level %}
            <h4>{{ 'Level acquired'|trans }}</h4>
            <ul class="fa-ul">
                <li>
                    <em class="fa-li fa fa-check-circle-o fa-fw"></em> {{ issue_info.acquired_level }}
                </li>
            </ul>
        {% endif %}

        {% if allow_comment %}
            {% if show_level %}
                <hr>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <em class="fa fa-check-circle-o fa-fw" aria-hidden="true"></em>
                        {{ 'Change acquired level'|trans }}
                    </div>
                    <div class="panel-body">
                        {% autoescape false %}{{ acquired_level_form }}{% endautoescape %}
                    </div>
                </div>
            {% endif %}
            <hr>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <em class="fa fa-comment-o fa-fw" aria-hidden="true"></em>
                    {{ '%s comments'|trans|format(issue_info.comments|length) }}
                    /
                    <em class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></em>
                    {{ 'Average rating %s'|trans|format(issue_info.feedback_average) }}
                </div>
                <div class="panel-body">
                    {% autoescape false %}{{ comment_form }}{% endautoescape %}
                    {% if issue_info.comments %}
                        <hr>
                        {% for comment in issue_info.comments %}
                            <article class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">{{ comment.giver_complete_name }}</h4>
                                    <p><small>{{ comment.datetime }}</small></p>
                                    <p>{{ comment.text }}</p>
                                </div>
                                <div class="media-right text-right">
                                    <div style="width: 80px;">
                                        {% if comment.value %}
                                            <em class="fa fa-certificate fa-fw" aria-label="{{ 'Average rating'|trans }}"></em>
                                            <span class="sr-only">{{ 'Average rating'|trans }}</span> {{ comment.value }}
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <hr />
            <p class="lead">
                <em class="fa fa-comment-o fa-fw" aria-hidden="true"></em>
                {{ '%s comments'|trans|format(issue_info.comments|length) }}
                /
                <em class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></em>
                {{ 'Average rating %s'|trans|format(issue_info.feedback_average) }}
            </p>
        {% endif %}
    </div>
</div>
{% if allow_export %}
    <script>
        $(function () {
            $('#badge-export-button').on('click', function (e) {
                e.preventDefault();
                OpenBadges.issue({{ issue_info.badge_assertion|json_encode() }});
            });
        });
    </script>
{% endif %}
