{% autoescape false %}
    <h1 class="page-header">{{ 'My skills'|trans }}</h1>
    <p>
        {{ "The skills you have acquired, formally or non-formally, social or technical."|trans }}
    </p>
    {% if rows %}
        <div class="communications">
            {% if skill_table %}
                {{ skill_table }}
            {% endif %}
        </div>
        <h6 class="table-header">{{ 'Skills History'|trans }}</h6>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Badge'|trans }}</th>
                <th>{{ 'Skill'|trans }}</th>
                <th>{{ 'Date'|trans }}</th>
                <th>{{ 'Course'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.skill_badge }}</td>
                    <td>{{ row.skill_title }}</td>
                    <td>{{ row.achieved_at }}</td>
                    {% if row.course_name %}
                        <td>
                            <img src="{{ row.course_image }}" alt="{{ row.course_name }}" width="32">
                            {{ row.course_name }}
                        </td>
                    {% else %}
                        <td> -</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endautoescape %}
