{% autoescape false %}
{% if allow_skill_tool %}
    <div class="btn-group">
        <a class="btn btn--plain" href="{{ _p.web_main }}social/skills_wheel.php">
            {{ 'Skills wheel' | trans }}
        </a>
    </div>
{% endif %}

{% if rows %}
    <h1 class="page-header">{{ 'Skills acquired' | trans }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Badge' | trans }}</th>
                <th>{{ 'Skill' | trans }}</th>
                <th>{{ 'Date' | trans }}</th>
                <th>{{ 'Course' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row.skill_badge }}</td>
                <td>{{ row.skill_name }}</td>
                <td>{{ row.achieved_at }}</td>
                {% if row.course_name %}
                    <td>
                        <img src="{{ row.course_image }}" alt="{{ row.course_name }}" width="32">
                        {{ row.course_name }}
                    </td>
                {% else %}
                    <td> - </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if skill_table %}
        {{ skill_table }}
    {% endif %}
{% endif %}
{% endautoescape %}
