{% autoescape false %}

{% if form is defined %}
    {{ form }}
{% endif %}

{% for profile in list %}
    <h4>{{ profile.title }}
        {#<a href="{{ _p.web_main }}skills/skill_level.php?action=add_level&id={{ profile.id }}">#}
        {#{{ 'ActionIcon::ADD'|mdi_icon }}#}
        {#</a>#}
        <a
            href="{{ url('legacy_main', {'name' : 'skills/skill_profile.php'}) }}?action=edit&id={{ profile.id }}"
        >
            {{ 'ActionIcon::EDIT'|mdi_icon }}
        </a>

        <a
            href="{{ url('legacy_main', {'name' : 'skills/skill_profile.php'}) }}?action=delete&id={{ profile.id }}"
        >
            {{ 'ActionIcon::DELETE'|mdi_icon }}
        </a>
    </h4>
    <ul>
        {% for level in profile.levels %}
            <li>
                {{ level }}
                {% if loop.first %}
                    {{ 'ActionIcon::UP'|mdi_icon(22, 'ch-tool-icon-disabled') }}
                {% else %}
                    <a
                        href="{{ url('legacy_main', {'name' : 'skills/skill_profile.php'}) }}?action=move_up&level_id={{ level.id }}&id={{ profile.id }}"
                    >
                        {{ 'ActionIcon::UP'|mdi_icon(22) }}
                    </a>
                {% endif %}

                {% if loop.last %}
                    {{ 'ActionIcon::DOWN'|mdi_icon(22, 'ch-tool-icon-disabled') }}
                {% else %}
                    <a
                        href="{{ url('legacy_main', {'name' : 'skills/skill_profile.php'}) }}?action=move_down&level_id={{ level.id }}&id={{ profile.id }}"
                    >
                        {{ 'ActionIcon::DOWN'|mdi_icon(22) }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endfor %}
{% endautoescape %}
