{% autoescape false %}

{% if form is defined %}
    {{ form }}
{% endif %}

<table class="table">
    <tr>
        <th>{{ 'Name' | trans }}</th>
        <th>{{ 'Short name' | trans }}</th>
        <th>{{ 'Profile' | trans }}</th>
        <th>{{ 'Actions' | trans }}</th>
    </tr>
    {% for item in list %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.shortTitle }}</td>
            <td> {{ item.profile }}</td>
            <td>
                <a
                    href="{{ url('legacy_main', {'title' : 'skills/skill_level.php'}) }}?action=edit&id={{ item.id }}"
                >
                    {{ 'ActionIcon::EDIT'|mdi_icon(22) }}
                </a>

                <a
                    href="{{ url('legacy_main', {'title' : 'skills/skill_level.php'}) }}?action=delete&id={{ item.id }}"
                >
                    {{ 'ActionIcon::DELETE'|mdi_icon(22) }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endautoescape %}
