{% extends '@ChamiloCore/layout_cms.html.twig' %}

{% block sonata_page_container %}
<h1>FAQ</h1>

<h2>Categories</h2>
<ul>
    {% for category in categories %}
        {% if selectedCategory.getSlug is defined and selectedCategory.getSlug == category.getSlug %}
            <li class="active">
                <strong>{{ category.getHeadline|e }}</strong>
            </li>
        {% else %}
            <li>
                <a href="{{ path('faq', { 'categorySlug': category.getSlug }) }}">
                    {{ category.getHeadline|e }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% if selectedCategory is not null %}
    <h2>Questions</h2>
    <ul>
        {% set list = [false] %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% set list = [false, true] %}
        {% endif %}

        {% for question in questions if question.onlyAuthUsers in list %}
            {% if question.isActive %}
                {% if selectedQuestion.getSlug is defined and selectedQuestion.getSlug == question.getSlug %}
                    <li class="active">
                        <strong>{{ question.getHeadline|e }}</strong>
                        <div>{{ selectedQuestion.getBody }}</div>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('faq', { 'categorySlug': selectedCategory.getSlug, 'questionSlug': question.getSlug }) }}">
                            {{ question.getHeadline|e }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}