{% extends "AvanzuAdminThemeBundle:layout:base-layout.html.twig" %}

{% block title %}
    {#{{ parent() }}#}
    {{- 'Institution' | get_setting }} - {{ 'siteName' | get_setting -}}
{% endblock %}

{% block avanzu_logo %}
    {{- 'Institution' | get_setting -}}
{% endblock %}

{% block page_title %}
    {% if page is defined %}
        {{ page.name }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block avanzu_sidebar %}
    {{- parent() -}}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ mopa_bootstrap_menu('ChamiloLMSCoreBundle:SimpleMenuBuilder:mainMenu', {'automenu': 'pills', 'stacked':true}) }}
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}

        <div class="user-panel">
        </div>
        <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="sidebar-form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}</label>
                <input type="text" class="form-control" id="username" name="_username" >
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}</label>
                <input type="password" class="form-control" id="password" name="_password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        {{ mopa_bootstrap_menu('ChamiloLMSCoreBundle:SimpleMenuBuilder:loginMenu', {'automenu': 'pills', 'stacked':true}) }}
    {% endif %}

    {{ mopa_bootstrap_menu('ChamiloLMSCoreBundle:SimpleMenuBuilder:helpMenu', {'automenu': 'pills', 'stacked':true}) }}
{% endblock %}

{% block javascripts_head %}
    {% javascripts '@admin_lte_all' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ parent() }}

    {% javascripts 'bundles/chamilolmscore/js/app.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascripts %}
{% endblock %}
