{% import "@ChamiloTheme/Macros/box.html.twig" as macro %}

{% autoescape false %}
{% for item in hot_courses %}
    <div class="col-md-3">
        {% if item.title %}
            {% set tools %}
                <div class="user-actions">{{ item.description_button }}</div>
            {% endset %}

            {% set image %}
                {% if item.categoryName != '' %}
                    <div class="category">
                        {{ item.categoryName }}
                    </div>
                {% endif %}
                <a title="{{ item.title}}" href="{{ item.course_public_url }}">
                    <img src="{{ item.course_image_large }}" class="card-img-top" alt="{{ item.title }}">
                </a>
            {% endset %}

            {% set content %}
                <div class="card-title">
                    <h5 class="title">
                        <a title="{{ item.title }}" href="{{ item.course_public_url }}">{{ item.title}}</a>
                    </h5>
                </div>
                <div class="card-author mb-2">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    {% if item.teachers | length >= 3 %}
                        <a id="plist-{{ loop.index }}" data-trigger="focus" tabindex="0" role="button" class="list-name" data-toggle="popover" title="{{ 'CourseTeachers' | trans }}" data-html="true">
                            {{ 'CourseTeachers' | trans }}
                        </a>
                        <div id="popover-content-plist-{{ loop.index }}" style="display: none;">
                            {% for teacher in item.teachers %}
                                <div class="popover-teacher">
                                    <a href="{{ teacher.url }}" class="ajax name" data-title="{{ teacher.firstname }} {{ teacher.lastname }}">
                                        {{ teacher.firstname }} {{ teacher.lastname }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {% for teacher in item.teachers %}
                            <a href="{{ teacher.url }}" class="ajax name" data-title="{{ teacher.firstname }} {{ teacher.lastname }}">
                                {{ teacher.firstname }} {{ teacher.lastname }}
                            </a>
                        {% endfor %}
                    {% endif %}

                </div>
                <div class="card-ranking">
                    {{ item.rating_html }}
                </div>
                <!--
                <div class="toolbar row">
                    <div class="col-sm-4">
                        {#{% if item.price %}#}
                        {#{{ item.price }}#}
                        {#{% endif %}#}
                    </div>
                    <div class="col-sm-8">
                        <div class="btn-group" role="group">
                            {# item.register_button #}
                            {#{{ item.unsubscribe_button }}#}
                        </div>
                    </div>
                </div> -->
            {% endset %}
            {{ macro.panel_course('course', '', content, '', '', '', image) }}
    {% endif %}
    </div>
{% endfor %}
{% endautoescape %}
