{% import '@ChamiloCore/Macros/box.html.twig' as macro %}
{% autoescape false %}
<div class="search-student">
    {{ form }}
</div>

<div class="page-header">
    <h4>
        {{ 'Overview' | trans  }}
    </h4>
</div>

<div class="grid grid-cols-4 gap-8 view-global-followed">
    <div class="content">
        <div class="card-title">
            <a href="{{ url('legacy_main', {'name' : 'my_space/student.php'}) }}">
                {{ 'Followed students' | trans }}
            </a>
        </div>
        <div class="py-4 flex justify-center h-24 border-0 border-primary rounded-md shadow hover:shadow-lg shadow-black text-4xl">
                {{ 'school'|mdi_icon(64) }}&nbsp;{{ students }}
        </div>
    </div>
    <div class="content">
        <div class="card-title">
            <a href="{{ url('legacy_main', {'name' : 'my_space/users.php'}) }}?status={{ studentboss }}">
                {{ 'Followed student bosses' | trans }}
            </a>
        </div>
        <div class="py-4 flex justify-center h-24 border-0 border-primary rounded-md shadow hover:shadow-lg shadow-black text-4xl">
            {{ 'book-account'|mdi_icon(64) }}&nbsp;{{ studentbosses }}
        </div>
    </div>
    <div class="content">
        <div class="card-title">
            <a href="{{ url('legacy_main', {'name' : 'my_space/teachers.php'}) }}">
                {{ 'Followed teachers' | trans }}
            </a>
        </div>
        <div class="py-4 flex justify-center h-24 border-0 border-primary rounded-md shadow hover:shadow-lg shadow-black text-4xl">
            {{ 'text-box'|mdi_icon(64) }}&nbsp;{{ numberTeachers }}
        </div>
    </div>
    <div class="content">
        <div class="card-title">
            <a href="{{ url('legacy_main', {'name' : 'my_space/users.php'}) }}?status={{ drh }}">
                {{ 'Followed HR directors' | trans }}
            </a>
        </div>
        <div class="py-4 flex justify-center h-24 border-0 border-primary rounded-md shadow hover:shadow-lg shadow-black text-4xl">
            {{ 'account'|mdi_icon(64) }}&nbsp;{{ humanresources }}
        </div>
    </div>
</div>
<div class="grid grid-cols-4 gap-8 my-8 view-global">
    <div class="py-4 flex justify-center border-0 rounded-md shadow hover:shadow-lg shadow-black content-center">
        <div class="easy-donut">
            <div id="easypiechart-blue" class="easypiechart" data-percent="{{ total_user }}">
                <span class="percent text-4xl">{{ total_user }}</span>
            </div>
            <div class="easypiechart-link">
                <a class="btn btn--plain hover:cursor-pointer"" href="{{ url('legacy_main', {'name' : 'my_space/users.php'}) }}">
                    {{ 'Followed users' | trans }}
                </a>
            </div>
        </div>

        {% if app.user.status == 1 %}
            <a
               href="{{ url('legacy_main', {'name' : 'admin/dashboard_add_users_to_user.php'}) }}?user={{ app.user.id }}"
               class="btn btn--plain btn-sm hover:cursor-pointer"
            >
                {{ 'plus'|mdi_icon(64) }}
            </a>
        {% endif %}
    </div>
    <div class="py-4 flex justify-center border-0 rounded-md shadow hover:shadow-lg shadow-black ">
        <div class="easy-donut">
            <div id="easypiechart-orange" class="easypiechart" data-percent="{{ stats.courses }}">
                <span class="percent text-4xl">{{ stats.courses }}</span>
            </div>
            <div class="easypiechart-link">
                <a class="btn btn--plain hover:cursor-pointer""
                   href="{{ url('legacy_main', {'name' : 'my_space/course.php'}) }}"
                >
                    {{ 'Assigned courses' | trans }}
                </a>
            </div>
        </div>
        {% if app.user.status == 1 %}
            <a
                href="{{ url('legacy_main', {'name' : 'my_space/course.php'}) }}"
               class="btn btn--plain btn-sm hover:cursor-pointer">
                {{ 'plus'|mdi_icon(64) }}
            </a>
        {% endif %}
    </div>
    <div class="py-4 flex justify-center border-0 rounded-md shadow hover:shadow-lg shadow-black ">
        <div  class="easy-donut">
            <div id="easypiechart-teal" class="easypiechart" data-percent="{{ stats.assigned_courses }}">
                <span class="percent text-4xl">{{ stats.assigned_courses }}</span>
            </div>
            <div class="easypiechart-link">
                <a class="btn btn--plain hover:cursor-pointer""
                   href="{{ url('legacy_main', {'name' : 'my_space/course.php?follow'}) }}"
                >
                    {{ 'Followed courses' | trans }}
                </a>
            </div>
        </div>
        {% if app.user.status == 1 %}
            <a
                href="{{ url('legacy_main', {'name' : 'my_space/course.php?follow'}) }}"
                class="btn btn--plain btn-sm hover:cursor-pointer">
                {{ 'plus'|mdi_icon(64) }}
            </a>
        {% endif %}
    </div>
    <div class="py-4 flex justify-center border-0 rounded-md shadow hover:shadow-lg shadow-black ">
        <div class="easy-donut">
            <div id="easypiechart-red" class="easypiechart" data-percent="{{ stats.session_list |length  }}">
                <span class="percent text-4xl">{{ stats.session_list |length }}</span>
            </div>
            <div class="easypiechart-link">
                <a class="btn btn--plain hover:cursor-pointer"
                   href="{{ url('legacy_main', {'name' : 'my_space/session.php'}) }}"
                >
                    {{ 'Followed sessions' | trans }}
                </a>
            </div>
        </div>
        {% if app.user.status == 1 %}
            <a
                href="{{ url('legacy_main', {'name' : 'admin/dashboard_add_sessions_to_user.php'}) }}?user={{ app.user.id }}"
                class="btn btn--plain btn-sm hover:cursor-pointer">
                {{ 'plus'|mdi_icon(64) }}
            </a>
        {% endif %}
    </div>
</div>
<div class="my-8 page-header">
    <h3>
        {{ title }}
    </h3>
</div>
<div class="grid grid-cols-4 gap-8 report-section">
    <div class="py-4 flex justify-center border-0 rounded-md shadow hover:shadow-lg shadow-black item-report">
        <div class="item-report-number text-4xl">
            {{ report.AverageCoursePerStudent }}
        </div>
        <p>{{ 'Average number of courses to which my learners are subscribed' | trans }}</p>
    </div>
    <div class="py-4 flex justify-center border-0 rounded-md shadow hover:shadow-lg shadow-black ">
        <div class="item-report-number text-4xl">
            {{ report.InactivesStudents }}
        </div>
        <p>{{ 'Learners not connected for a week or more' | trans }}</p>
    </div>
    <div class="py-4 flex justify-center border-0 rounded-md shadow hover:shadow-lg shadow-black ">
        <div class="item-report-number text-4xl">
            {{ report.AverageTimeSpentOnThePlatform }}
        </div>
        <p>{{ 'Time spent on portal' | trans }}</p>
    </div>
    <div class="py-4 flex justify-center border-0 rounded-md shadow hover:shadow-lg shadow-black ">
        <div class="item-report-number text-4xl">
            {{ report.AverageProgressInLearnpath }}
        </div>
        <p>{{ 'Progress in courses' | trans }}</p>
    </div>
    <div class="py-4 flex justify-center border-0 rounded-md shadow hover:shadow-lg shadow-black ">
        <div class="item-report-number text-4xl">
            {{ report.AvgCourseScore }}
        </div>
        <p>{{ 'Average score in learning paths' | trans }}</p>
    </div>
    <div class="py-4 flex justify-center border-0 rounded-md shadow hover:shadow-lg shadow-black ">
        <div class="item-report-number text-4xl">
            {{ report.AveragePostsInForum }}
        </div>
        <p> {{ 'Posts in forum' | trans }}</p>
    </div>
    <div class="py-4 flex justify-center border-0 rounded-md shadow hover:shadow-lg shadow-black ">
        <div class="item-report-number text-4xl">
            {{ report.AverageAssignments }}
        </div>
        <p> {{ 'Average assignments per learner' | trans }}</p>
    </div>
</div>

<script>
    $(function() {
        $('#easypiechart-teal').easyPieChart({
            scaleColor: false,
            barColor: '#1ebfae',
            lineWidth:12,
            trackColor: '#f2f2f2'
        });

        $('#easypiechart-orange').easyPieChart({
            scaleColor: false,
            barColor: '#ffb53e',
            lineWidth:12,
            trackColor: '#f2f2f2'
        });

        $('#easypiechart-red').easyPieChart({
            scaleColor: false,
            barColor: '#f9243f',
            lineWidth:12,
            trackColor: '#f2f2f2'
        });

        $('#easypiechart-blue').easyPieChart({
            scaleColor: false,
            barColor: '#30a5ff',
            lineWidth:12,
            trackColor: '#f2f2f2'
        });
    });
</script>
{% endautoescape %}
