<ol class="breadcrumb">
    <li>
        <a href="{{ path('home') }}">
            <i class="fa fa-dashboard"></i>
            {{ 'Home'|trans({}, 'ChamiloThemeBundle') }}
        </a>
    </li>
    {% if active %}
        {% for item in active %}
            <li><a href="{{ item.route is empty ? '#' : '/' in item.route ? item.route : path(item.route, item.routeArgs) }}">{{ item.label }}</a></li>
        {% endfor %}
    {% endif %}
    <li class="active">{{ title }}</li>
</ol>
