{% extends 'ChamiloLMSInstallerBundle::layout.html.twig' %}
{#{% set step, steps = 'schema', ['cache', 'schema-drop', 'clear-config', 'clear-extend', 'schema-update', 'workflows', 'processes', 'fixtures'] %}#}
{% set step, steps = 'schema', ['cache', 'schema-drop', 'schema-update', 'fixtures'] %}
{% use 'ChamiloLMSInstallerBundle::progress.html.twig' %}

{% block title %}
    {% autoescape false %}
    {{ 'process.step.schema.header'|trans }} - {{ parent() }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    <div class="page-title">
        <h2>{{ 'process.step.schema.header'|trans }}</h2>
    </div>

    <div>
        <table class="table table-striped">
            <col width="75%" valign="top">
            <col width="25%" valign="top">
            <thead>
            <tr>
                <th>{{ 'process.operation'|trans }}</th>
                <th>{{ 'process.status'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for step in steps %}
                <tr>
                    <td><span id="step-{{ step }}"></span>{{ ('process.step.schema.' ~ step)|trans }}</td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="button-set">
            <div class="pull-right">
                <a href="{{ path('sylius_flow_display', { scenarioAlias: 'chamilo_installer', stepName: 'configure' }) }}" class="btn btn-default back disabled">
                    {{ 'process.button.back'|trans }}
                </a>
                <a href="javascript: void(0)" class="btn btn-primary next primary disabled">
                    {{ 'process.button.next'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            ajaxQueue(
                    [{% for step in steps %}'{{ step}}'{{ loop.last ? '' : ', ' }}{% endfor %}],
                    '{{ path('sylius_flow_forward', { scenarioAlias: 'chamilo_installer', stepName: 'schema' }) }}'
            );
        });
    </script>
{% endblock javascript %}
