{% extends 'ChamiloLMSInstallerBundle::layout.html.twig' %}
{% use 'ChamiloLMSInstallerBundle::progress.html.twig' %}

{% block content %}

{% set step = 'welcome' %}
{% block title %}
    {% autoescape false %}
    {{ 'process.step.setup.header'|trans }} - {{ parent() }}
    {% endautoescape %}
{% endblock %}

{{ 'process.step.welcome.content'|trans|raw }}

<div class="form-actions">
    <a href="{{ path('sylius_flow_forward', {'scenarioAlias': 'chamilo_installer', 'stepName': 'welcome'}) }}" class="btn btn-lg btn-primary">
        {{ 'process.step.check.button.install'|trans }} <i class="icon-chevron-right"></i>
    </a>
</div>
{% endblock %}
