<!doctype html>
<!--[if IE 7 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
    {% endblock %}

    {#{% stylesheets#}
    {#"@bootstrap_css" %}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    {#{% javascripts "@bootstrap_js" %}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <link rel="stylesheet" href="{{ asset('bundles/chamiloadmintheme/components/bootstrap/dist/css/bootstrap.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/chamiloadmintheme/components/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/chamiloadmintheme/components/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/chamiloadmintheme/components/ajaxQueue/dist/jquery.ajaxQueue.js') }}"></script>

    {% block javascript %}
    <script type="text/javascript">

        $(function() {
            $('.progress-bar li:last-child em.fix-bg').width($('.progress-bar li:last-child').width() / 2);
            $('.progress-bar li:first-child em.fix-bg').width($('.progress-bar li:first-child').width() / 2);

            $('form').submit(function () {
                $(this).find(':submit').attr('disabled', true).addClass('disabled');
            });

            $('input[type="checkbox"]').addClass('icheckbox_minimal');
            $('input[type="checkbox"]').removeClass('form-control');
        });

        function ajaxQueue(actions, url) {
            var finRes  = true,
                aborted = false;

            $.each(actions, function(i) {
                var stepCon = $('#step-' + this);

                stepCon.closest('tr').find('td:last').text('{{ 'wait'|trans }}');

                if (i == 0) {
                    stepCon
                        .addClass('icon-wait')
                        .closest('tr').find('td:last').text('{{ 'progress'|trans }}');
                }

                $.ajaxQueue({
                    url: '?action=' + this,
                    beforeSend: function (jqXHR) {
                        if (!finRes) {
                            aborted = true;
                            jqXHR.abort();
                        }
                    }
                }).done(function(data) {
                    var curRes = typeof data.result != 'undefined' && data.result,
                        exitCode = typeof data.exitCode != 'undefined' ? data.exitCode : 0,
                        finRes = finRes || curRes;

                    stepCon
                        .removeClass('icon-wait')
                        .addClass('icon-' + (curRes ? (exitCode == 0 ? 'yes' : 'warning') : 'no'))
                        .closest('tr')
                            .find('td:last').text(
                                curRes
                                    ? (exitCode == 0 ? '{{ 'passed'|trans }}' : '{{ 'skipped'|trans }}')
                                    : '{{ 'failed'|trans }}'
                            ).end()
                        .closest('tr').next()
                            .find('td:last').text('{{ 'progress'|trans }}').end()
                            .find('span').addClass('icon-wait');

                    if (i == actions.length - 1 && finRes) {
                        $('a.back').removeClass('disabled');
                        $('a.primary').removeClass('disabled').attr('href', url);
                    }
                }).fail(function() {
                    if (aborted) {
                        stepCon
                            .removeClass('icon-wait')
                            .addClass('icon-warning')
                            .closest('tr').find('td:last').text('{{ 'skipped'|trans }}');
                    } else {
                        finRes = false;
                        stepCon
                            .removeClass('icon-wait')
                            .addClass('icon-no')
                            .closest('tr').find('td:last').text('{{ 'failed'|trans }}');
                    }
                    if (i == actions.length - 1) {
                        $('a.back').removeClass('disabled');
                    }
                });
            });
        }
    </script>
    {% endblock javascript %}
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1 class="logo">Chamilo installation</h1>
        </div>
        {% block progress %}{% endblock %}
        {% block content %}{% endblock %}
    </div>

    {% block bottom %}
        <footer>
            <div class="container">
                <p>
                    Chamilo
                </p>
            </div>
        </footer>
    {% endblock bottom %}
</body>
</html>
