{% set admin_chamilo_announcements_disable = 'announcement.admin_chamilo_announcements_disable'|api_get_setting == 'true' %}

{% block content %}
    {% autoescape false %}
        {% if not admin_chamilo_announcements_disable %}
            <div class="p-message p-component p-message-info" role="alert" style="display: none;">
                <div class="p-message-wrapper">
                    <span class="p-message-icon pi pi-info-circle"></span>
                    <div class="p-message-text" id="chamilo-news-content"></div>
                </div>
            </div>
        {% endif %}

        <div id="settings" class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 ">
            {% for block_item in blocks_admin %}
                <section id="tabs-{{ loop.index }}" class="{{ block_item.class }}">
                    <div class="p-card p-component">
                        <div class="p-card-body">
                            <div class="p-card-title">
                                <h5>
                                    {% if block_item.mdi_icon %}
                                        <span class="mdi mdi-{{ block_item.mdi_icon }}" aria-hidden="true"></span>
                                    {% endif %}
                                    {{ block_item.label }}
                                </h5>
                            </div>

                            {% if block_item.description is defined %}
                                <div class="p-card-subtitle">{{ block_item.description }}</div>
                            {% endif %}

                            <div class="p-card-content flex flex-col gap-5">
                                {{ block_item.search_form }}

                                <div class="p-menu p-component p-ripple-disabled">
                                    <ul class="p-menu-list p-reset" role="menu">
                                        {% for url in block_item.items %}
                                            {% if url.url is not empty %}
                                                <li class="p-menuitem">
                                                    <a class="p-menuitem-link" href="{{ url.url }}" role="menuitem">
                                                        <span class="p-menuitem-text">{{ url.label }}</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>

                                {% if block_item.extra is not null %}
                                    <div>
                                        {{ block_item.extra }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}

{#            <div class="row">#}
{#                {% for role in app.user.roles %}#}
{#                    {% set role = role | lower | replace ({ 'role_' : ''}) %}#}
{#                    {% if role in ['global_admin'] %}#}
{#                        {% include '@ChamiloCore/Admin/' ~ role ~ '/role_index.html.twig' %}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <script>
                $(function () {
                    $.ajax({
                        url: '{{ web_admin_ajax_url }}?a=version',
                        success: function (version) {
                            $(".admin-block-version").html(version);
                        }
                    });

                    {% if not admin_chamilo_announcements_disable %}
                        $('#chamilo-news-content').load(
                            '{{ web_admin_ajax_url }}?a=get_latest_news',
                            function (response) {
                                if (!response.length) {
                                    return;
                                }
                                $('#chamilo-news-content').parents('.p-message').show();
                            }
                        );

                    {% endif %}
                });
            </script>

        {% endif %}
    {% endautoescape %}
{% endblock %}
