{% autoescape false %}

{% if form is defined %}
    {{ form }}
{% endif %}

<table class="table">
    <tr>
        <th>{{ 'Name' | trans }}</th>
        <th>{{ 'Short name' | trans }}</th>
        <th>{{ 'Profile' | trans }}</th>
        <th>{{ 'Actions' | trans }}</th>
    </tr>
    {% for item in list %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.shortName }}</td>
            <td> {{ item.profile }}</td>
            <td>
                <a
                    href="{{ url('legacy_main', {'name' : 'admin/skill_level.php'}) }}?action=edit&id={{ item.id }}"
                >
                    <img src="{{ 'edit.png'|icon(22) }}" />
                </a>

                <a
                    href="{{ url('legacy_main', {'name' : 'admin/skill_level.php'}) }}?action=delete&id={{ item.id }}"
                >
                    <img src="{{ 'delete.png'|icon(22) }}" />
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endautoescape %}