{% autoescape false %}
<h3>{{ 'Skills' | trans }}</h3>
<ul>
    <li>
        <a
            href="{{ url('legacy_main', {'name' : 'admin/skill_profile.php'}) }}"
        >
            {{ 'Add profile' | trans }}
        </a>
    </li>
    <li>
        <a
            href="{{ url('legacy_main', {'name' : 'admin/skill_level.php'}) }}"
        >
            {{ 'Add level' | trans }}
        </a>
    </li>
</ul>

{% if form is defined %}
    {{ form }}
{% endif %}

{% for item in list %}
    <h4>
        {{ item.name }}
        {% if item.shortCode %}
            ({{ item.shortCode }})
        {% endif %}
        <a
            href="{{ url('legacy_main', {'name' : 'admin/skill.php'}) ~ '?action=edit&id='  ~  item.id}}"
        >
            <img src="{{ 'edit.png'|icon(22) }}" />
        </a>
    </h4>
    {{ item.profile }}
{% endfor %}
{% endautoescape %}