{% import '@ChamiloCore/Macros/box.html.twig' as display %}

{% autoescape false %}
<div class="details">
    <div class="row">
        <div class="col-md-4">
            {{ display.panel('', display.reporting_user_box(user), '') }}
        </div>
        <div class="col-md-8">
            <div class="list-card">
                {{ display.card_widget('First login in platform'|get_lang, params.first_connection, 'calendar') }}
                {{ display.card_widget('Latest login in platform'|get_lang, params.last_connection, 'calendar') }}
                {% if params.legal is defined %}
                    {{ display.card_widget('Legal accepted'|get_lang, params.legal.datetime, 'gavel', params.legal.icon) }}
                {% endif %}
            </div>
            {% if social_tool %}
                <div class="list-box-widget">
{#                    {{ display.box_widget('Friends'|get_lang, params.social.friends, 'users') }}#}
{#                    {{ display.box_widget('InvitationSent'|get_lang, params.social.invitation_sent, 'paper-plane') }}#}
{#                    {{ display.box_widget('InvitationReceived'|get_lang, params.social.invitation_received, 'smile-o') }}#}
{#                    {{ display.box_widget('WallMessagesPosted'|get_lang, params.social.messages_posted, 'comments') }}#}
{#                    {{ display.box_widget('MessagesSent'|get_lang, params.social.messages_sent, 'envelope') }}#}
{#                    {{ display.box_widget('MessagesReceived'|get_lang, params.social.messages_received, 'envelope-open-o') }}#}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endautoescape %}