{% autoescape false %}
    {% if intro is not empty %}
        <section id="section-intro" class="section-intro">
            <div class="toolbar">
                <div class="btn-group btn-group-sm" role="group" aria-label="">
                    {% for item in toolbar %}
                        <a href="{{ item.url }}"
                           title="{{ item.name }}" class="btn btn-light {{ item.class }}">
                            <i class="{{ item.icon }}"></i>
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% if intro.text !='' %}
                <div id="{{ intro.name }}" class="content">
                    {{ intro.text }}
                </div>
            {% else %}
                <div class="help">
                    <h1>{{ intro.name }}</h1>
                    <p>{{ intro.help }}</p>
                </div>
            {% endif %}
        </section>
    {% endif %}
{% endautoescape %}