<div class="section-notice">
    <h2 class="section-title">{{ "SomeCourseExamples"| trans }}</h2>
    <div class="row">
        {% for page in pages %}
            <div class="col-md-4">
                <div class="items">
                    <a href="{{ url(page.routeName, {'path' : page.site.relativePath ~ page.url, '_locale' : app.request.getLocale() }) }}"
                       class="thumbnail" style ="border:none; padding:0px"
                    >
                        {{ sonata_page_render_container('image_preview', page, {'template': '@ChamiloPage/image_preview_block.html.twig'})  }}
                    </a>

                    <div class="description">
                        <h2 class="title">
                            <a href="{{ url(page.routeName, {'path' : page.site.relativePath ~ page.url, '_locale' : app.request.getLocale() }) }}">
                                {{ page.name }}
                            </a>
                        </h2>
                        <p>
                            {{ page.metaDescription | nl2br }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>