{{ locale_switcher(null, null, 'ChamiloCoreBundle:Admin:switcher_links.html.twig') }}

{#<div class="btn-group">#}
    {#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
        {#<span class="flag-icon flag-icon-{{ current_locale_iso }}"></span>#}
        {#{{ current_locale_iso }}#}
        {#<span class="caret">#}
        {#</span>#}
    {#</button>#}
    {#<ul class="dropdown-menu" role="menu">#}
        {#{% autoescape false %}#}
            {#{% for index, locale in available_locales %}#}
                {#<li>#}
                    {#<a href="{{ app.request.attributes.get('_route') }}?_locale={{ index }}">#}
                    {#<span class="flag-icon flag-icon-{{ index }}"></span>#}
                    {#{{ locale }}#}
                    {#</a>#}
                {#</li>#}
            {#{% endfor %}#}
        {#{% endautoescape %}#}
    {#</ul>#}
{#</div>#}
<form action="{{ path("fos_user_security_check") }}" method="post" name="formLogin" id="formLogin">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
    <fieldset>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="login-label">
                        <em class="fa fa-user fa-fw"></em>
                        <span class="sr-only">{{ 'UserName'|trans }}</span>
                    </span>
                </div>
                <input id="login" autofocus="autofocus" placeholder="{{ 'UserName' | trans }}"
                       autocapitalize="none" class="form-control" name="_username"
                       type="text" aria-labelledby="login-label">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="password-label">
                        <em class="fa fa-lock fa-fw"></em>
                        <span class="sr-only">{{ 'Pass'|trans }}</span>
                    </span>
                </div>
                <input id="password" placeholder="{{ 'Pass' | trans }}" autocapitalize="none"
                       class="form-control" name="_password" type="password" aria-labelledby="password-label">
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="form-check-input">
            <label for="remember_me" class="form-check-label">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        </div>
        <button class="btn-block btn btn-primary " name="submitAuth" type="submit">
            {{ 'LoginEnter' | trans }}
        </button>
    </fieldset>
    <input name="_qf__formLogin" type="hidden" value="">
</form>
{{ mopa_bootstrap_menu('ChamiloCoreBundle:LeftMenuBuilder:loginMenu', {'automenu': 'pills', 'stacked':true}) }}
