{% extends 'ChamiloInstallerBundle::layout.html.twig' %}
{% set step = 'welcome' %}
{% use 'ChamiloInstallerBundle::progress.html.twig' %}
{% block title %}
    {% autoescape false %}
    {{ 'process.step.welcome.header'|trans }} - {{ parent() }}
    {% endautoescape %}
{% endblock %}

{% block content %}

<div class="well">
{{ 'process.step.welcome.content'|trans|raw }}
</div>

<div class="install-form-actions">
    <a href="{{ path('sylius_flow_forward', {'scenarioAlias': 'chamilo_installer', 'stepName': 'welcome'}) }}" class="btn btn-lg btn-primary">
        {{ 'process.button.continue'|trans }} <i class="fa fa-chevron-right"></i>
    </a>
</div>
{% endblock %}
