{% autoescape false %}

    <div class="start-course">
        <div class="image-course">
            <img src="{{ course.course_image_large }}" class="img-fluid"/>
        </div>
        <div class="description-course">
            {% if course.categoryName %}
                <h5>{{ course.categoryName }}</h5>
            {% endif %}
            <h2><a href="{{ course_url  }}">{{ course_title }}</a></h2>
            {% if just_created == 1%}
                <a role="button" href="{{ course_url  }}" class="btn btn-primary btn-lg">{{ "Go to the course created"|trans }}</a>
            {% endif %}
        </div>
        <div class="start-info">
            <h3>{{ 'Things to do'|trans }}</h3>
            {{ "Tu curso esta recien creado, puedes completar los siguientes módulos para tener una presentación adecuada de tu curso en su catalogo de cursos"|trans }}
        </div>

        <div class="grid-start">
            <div class="items-tools">
                <div class="item">
                    {{ 'tool_info.png' | img(64, 'Add course description'|trans ) }}
                    <div class="caption">
                        <a href="{{ _p.web_main }}course_description/?cidReq={{ course_id }}" class="btn btn-outline-primary">
                            <em class="fa fa-info-circle"></em> {{'Add course description'|trans}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="items-tools">
                <div class="item">
                    {{ 'tool_folder_document.png' | img(64, 'Upload a document'|trans ) }}
                    <div class="caption">
                        <a href="{{ _p.web_main }}document/document.php?cidReq={{ course_id }}" class="btn btn-outline-primary">
                            <em class="fa fa-paper-plane"></em> {{'Upload a document'|trans}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="items-tools">
                <div class="item">
                    {{ 'tool_forum.png' | img(64, 'Add forum'|trans ) }}
                    <div class="caption">
                        <a href="{{ _p.web_main }}forum/index.php?cidReq={{ course_id }}" class="btn btn-outline-primary">
                            <em class="fa fa-users"></em> {{ 'Add forum'|trans }}
                        </a>
                    </div>
                </div>
            </div>
            {% if ("allow_user_course_subscription_by_course_admin" | api_get_setting) == 'true' or is_granted('ROLE_ADMIN') %}
                <div class="items-tools">
                    <div class="item">
                        {{ 'tool_members.png' | img(64, 'Subscribe user to course'|trans ) }}
                        <div class="caption">
                            <a href="{{ _p.web_main }}user/subscribe_user.php?cidReq={{ course_id }}" class="btn btn-outline-primary">
                                <em class="fa fa-user-plus"></em> {{ 'Subscribe user to course'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="items-tools">
                <div class="item">
                    {{ 'tool_reference.png' | img(64, 'Add forum'|get_lang ) }}
                    <div class="caption">
                        <a href="{{ _p.web_main }}forum/index.php?cidReq={{ course_id }}" class="btn btn-outline-primary">
                            <em class="fa fa-users"></em> {{ 'Change settings'|get_lang }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endautoescape %}