{% extends '@ChamiloTheme/grid.html.twig' %}

{#{% block grid_column_id_cell %}#}
    {#<a class="btn btn-secondary" href="{{ url('app_document_show', {'id': row.getField('iid'), 'course': course.code }) }}">#}
        {#{{ row.getField('id') }}#}
    {#</a>#}
{#{% endblock %}#}

{% block grid_column_title_cell %}
    {#<a class="" href="{{ url('app_document_show', {'id': row.getField('iid'), 'course': course.code }) }}">#}

    {% if row.getField('filetype') == 'folder' %}
        <a class="" href="{{ url('app_document_index', {'course': course.code, 'parent' : row.getField('iid') }) }}">
            {{ value }}
        </a>
    {% else %}
        {{ value }}
        {#<a class="" href="{{ url('app_document_show', {'id': row.getField('iid'), 'course': course.code, 'parent' => parent }) }}">#}
            {#{{ value }}#}
        {#</a>#}
    {% endif %}
{% endblock %}

{#{% block grid_column_actions_cell %}#}
    {#<div class="btn-group">#}


    {#{{ parent() }}#}
    {#</div>#}
{#{% endblock grid_column_actions_cell %}#}
