<div class="box-body">
    <dl class="dl-horizontal">
        <dt>{{ 'Creator' | trans }}</dt>
        <dd>{{ resource.resourceNode.creator.username }}</dd>
        <dt>{{ 'CreatedAt' | trans }}</dt>
        <dd>{{ resource.resourceNode.createdAt | format_datetime }}</dd>
        <dt>{{ 'UpdatedAt' | trans }}</dt>
        <dd>{{ resource.resourceNode.updatedAt | format_datetime }}</dd>
        <dt>{{ 'Shared' | trans }}</dt>

        {% for link in resource.resourceNode.links %}
            {% if link.private %}
                <dd>Only with me</dd>
            {% else %}
                {% if link.course %}
                    <dd> {{ 'Course' | trans }} : {{ link.course.title }}
                        ({{ link.course.code }})
                    </dd>
                {% endif %}
                {% if link.session %}
                    <dd> {{ 'Session' | trans }} : {{ link.session.title }}
                        ({{ link.session.title }})
                    </dd>
                {% endif %}
            {% endif %}

            {% for right in link.rights %}
                {{ right.role }} - {{ right.mask }}
            {% endfor %}
        {% endfor %}
    </dl>
</div>
