{% autoescape false %}
<div class="profile-bg profile-bg-blur">
    <img src="{{ avatar.big }}">
</div>
<div class="user-panel user-panel-column">
    <div class="user-panel-image">
        <div class="avatar avatar-lg avatar-bordered">
            {% if show_group %}
            <a href="{{ avatar.big }}" class="expand-image">
                <img src="{{ avatar.normal }}" class="img-fluid rounded-circle">
            </a>
            <div class="user-panel-info mb-10">
                <p class="text-black">{{ group.name }}</p>
                <small class="text-secondary">{{ 'Created'|trans }}: {{ group.created_at }} </small>
            </div>
        {% elseif show_user %}
            <a href="{{ avatar.big }}" class="expand-image">
                <img class="img-fluid rounded-circle" src="{{ avatar.normal }}" alt="{{ 'UserPicture'|get_lang }}">
            </a>
            <div class="user-panel-info mb-10">
                <p class="text-black">{{ user.complete_name }}</p>
                <small class="text-secondary">{{ user.email }} ({{ user.username }})</small>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endautoescape %}