{% extends '@ChamiloTheme/Layout/layout_one_col.html.twig' %}
{% import '@ChamiloTheme/Macros/box.html.twig' as macro %}

{% block content %}
{% autoescape false %}
<div class="row">
    <div class="col-md-3">
        <div class="social-network-menu">
            {% include '@ChamiloTheme/Social/user_block.html.twig' %}
            {{ social_menu_block }}
        </div>
    </div>
    <div class="col-md-9">
        {{ macro.panel('PersonalDataIntroductionTitle' | get_lang , 'PersonalDataIntroductionText' | get_lang) }}
        {{ display.collapse('', 'PersonalDataKeptOnYou' | get_lang, personal_data.data, false, 'false') }}

        {% if personal_data.responsible %}
            {{ macro.panel('PersonalDataResponsibleOrganizationTitle' | get_lang , personal_data.responsible ) }}
        {% endif %}

        {% if personal_data.treatment %}
        <div class="panel personal-data-treatment">
            <div class="panel-title">{{ 'PersonalDataTreatmentTitle' | get_lang }}</div>
            <div class="personal-data-treatment-description">
                {% for treatment in personal_data.treatment %}
                    {% if treatment.content %}
                    <div class="sub-section">
                        <div class="panel-sub-title">{{ treatment.title }}</div>
                        <div class="panel-body">{{ treatment.content }}</div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if personal_data.officer_name %}
            <div class="panel personal-data-responsible">
                <div class="panel-title">{{ 'PersonalDataOfficerName' | get_lang }}</div>
                <div class="personal-data-responsible-description">
                    <a href="mailto:{{ personal_data.officer_email }}">{{ personal_data.officer_name }}</a>
                </div>
                <div class="panel-title">{{ 'PersonalDataOfficerRole' | get_lang }}</div>
                <div class="personal-data-responsible-description">
                    {{ personal_data.officer_role }}
                </div>
            </div>
        {% endif %}

        {% if term_link %}
            {{ macro.panel('TermsAndConditions'|get_lang, term_link ) }}
        {% endif %}

        {{ macro.panel('PersonalDataPermissionsYouGaveUs' | get_lang, permission) }}
    </div>
</div>
{% endautoescape %}
{% endblock %}
