
{% import '@ChamiloTheme/Macros/box.html.twig' as macro %}

{% block content %}
{% autoescape false %}
<div class="row">
    <div class="col-md-3">
        {% include '@ChamiloTheme/Social/user_block.html.twig' %}
        {{ social_extra_info_block }}
        <div class="social-network-menu">
            {{ social_menu_block }}
        </div>
    </div>
    <div id="wallMessages" class="col-md-6">
        {{ social_wall_block }}

        <div class="spinner"></div>
        <div class="panel panel-preview panel-default" hidden="true">
            <div class="panel-heading">
                <h3 class="panel-title">{{ "Url" | get_lang }} - {{ "Preview" | get_lang }}</h3>
            </div>
            <div class="panel-body">
                <div class="url_preview"></div>
            </div>
        </div>
        {{ social_post_wall_block }}
        {{ social_auto_extend_link }}
    </div>
    <div class="col-md-3">
        {{ macro.panel("SocialFriend" | get_lang, social_friend_block) }}

        {{ social_skill_block }}
        {{ social_group_info_block }}

        <!-- Block course list -->
        {% if social_course_block != null %}
            {{ macro.panel("MyCourses" | get_lang, social_course_block) }}
        {% endif %}

        <!-- Block session list -->
        {% if session_list != null %}
            {% set social_data %}
            <ul class="list-group">
                {% for session in session_list %}
                    <li id="session_{{ session.id }}" class="list-group-item" style="min-height:65px;">
                        <img class="img-session" src="{{ session.image }}"/>
                        <span class="title">{{ session.name }}</span>
                    </li>
                {% endfor %}
            </ul>
            {% endset %}
            {{ macro.panel("MySessions" | get_lang, social_data) }}
        {% endif %}

        {{ invitations }}
        {{ social_rss_block }}
        {{ social_right_information }}
    </div>
</div>

{% if form_modals is defined %}
    {{ form_modals }}
{% endif %}
{% endautoescape %}
{% endblock %}
