{% import '@ChamiloTheme/Macros/box.html.twig' as macro %}

{% autoescape false %}
<div class="sidebar-avatar">
{% set profile_body %}

    {{ social_avatar_block }}

    <div class="name">
        {{ user.complete_name }}
    </div>
    <div class="email">
        <a href="{{ _p.web }}main/messages/new_message.php">
            <img src="{{ "instant_message.png" | icon }}" alt="{{ "Email" | get_lang }}">
            {{ user.email}}
        </a>
    </div>

    <ul class="list-user-data">

        {% if show_full_profile %}

            {% set skype_account = '' %}
            {% set linkedin_url = '' %}
            {% for extra in user.extra %}
                {% if extra.value.getField().getVariable() == 'skype' %}
                    {% set skype_account = extra.value.getValue() %}
                {% endif %}

                {% if extra.value.getField().getVariable() == 'linkedin_url' %}
                    {% set linkedin_url = extra.value.getValue() %}
                {% endif %}
            {% endfor %}

            {% if 'allow_show_skype_account'|api_get_setting == 'true' and not skype_account is empty %}
                <li class="item">
                    <a href="skype:{{ skype_account }}?chat">
                        <span class="fa fa-skype fa-fw" aria-hidden="true"></span> {{ 'Skype'|get_lang }}
                    </a>
                </li>
            {% endif %}

            {% if 'allow_show_linkedin_url'|api_get_setting == 'true' and not linkedin_url is empty %}
                <li class="item">
                    <a href="{{ linkedin_url }}" target="_blank">
                        <span class="fa fa-linkedin fa-fw" aria-hidden="true"></span> {{ 'LinkedIn'|get_lang }}
                    </a>
                </li>
            {% endif %}
        {% endif %}
        {% if chat_enabled == 1 %}
            {% if user.user_is_online_in_chat != 0 %}
                {% if user_relation == user_relation_type_friend %}
                    <li class="item">
                        <a onclick="javascript:chatWith('{{ user.id }}', '{{ user.complete_name }}', '{{ user.user_is_online }}','{{ user.avatar_small }}')" href="javascript:void(0);">
                            <img src="{{ "online.png" | icon }}" alt="{{ "Online" | get_lang }}">
                            {{ "Chat" | get_lang }} ({{ "Online" | get_lang }})
                        </a>
                    </li>
                    {# else #}
                    {# <img src="{{ "offline.png" | icon }}" alt="{{ "Online" | get_lang }}"> #}
                    {# {{ "Chat" | get_lang }} ({{ "Offline" | get_lang }}) #}
                {% endif %}
            {% endif %}
        {% endif %}


    </ul>
{% endset %}
{{ macro.panel("Profile" | get_lang, profile_body ) }}
</div>
{% endautoescape %}
