<div id="record-audio-recordrtc" class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
        {% block intro %}
            <p class="text-center">{{ 'RepeatThisPhrase'|get_plugin_lang('WhispeakAuthPlugin') }}</p>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <span class="fa fa-microphone fa-5x fa-fw" aria-hidden="true"></span>
                        <span id="txt-timer" class="text-danger h3 show"></span>
                    </div>
                    <div class="col-sm-9 text-center">
                        <p class="lead" id="txt-sample-text">{{ sample_text }}</p>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="text-center">
            <p>
                <button class="btn btn-primary" type="button" id="btn-start-record">
                    <span class="fa fa-circle fa-fw" aria-hidden="true"></span> {{ 'StartRecordingAudio'|get_lang }}
                </button>
            </p>
            <p class="hidden">
                <button class="btn btn-danger" type="button" id="btn-stop-record" disabled
                        data-loadingtext="{{ 'Uploading'|get_lang }}">
                    <span class="fa fa-square fa-fw" aria-hidden="true"></span> {{ 'StopRecordingAudio'|get_lang }}
                </button>
            </p>
        </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1">
        <hr class="visible-sm">
        <div id="messages-deck"></div>
        <div class="hidden" id="audio-wrapper">
            <p>
                <audio class="center-block" controls id="record-preview"></audio>
            </p>
        </div>
    </div>
</div>

<script>
    $(function () {
        {% block config_data %}
            var data = {action: 'enrollment', license: 0 };

            RecordAudio.init(
                {
                    blockId: '#record-audio-recordrtc',
                    btnStartId: '#btn-start-record',
                    btnStopId: '#btn-stop-record',
                    plyrPreviewId: '#record-preview',
                    data: data
                }
            );
        {% endblock %}
    });
</script>
