{% extends 'ChamiloLMSCoreBundle:Security:only_login.twig' %}

{% block form %}
    <form class="form-signin" action="{{ url('login_check') }}" method="post">
        <h2 class="form-signin-heading">{{ 'SignIn' | trans }}</h2>
        <input class="form-control virtualkey" type="text" name="_username" placeholder="{{ 'Username' | trans }}"/>
        <input class="form-control virtualkey" type="password" name="_password" placeholder="{{ 'Password' | trans }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'LoginEnter' | trans }}</button>
    </form>
{% endblock %}
