<div class="header">
    {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
</div>

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST"
      class="fos_user_resetting_request">
    <div class="body bg-gray">
        <div class="form-group">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
            {% endif %}
            <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="username"
                   required="required"/>
        </div>

        <div class="form-group">
            <input type="submit"
                   value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}"/>
        </div>
    </div>
</form>

