{% autoescape false %}
<div class="sm-groups">
    <div class="social-profile text-center">
        {% if show_group %}
            <img src="{{ user_group_image }}" class="img-responsive" />
            <div class="caption">
{#                <h4 class="group-title">#}
{#                    <a href="{{ url('legacy_main', { 'name' : 'social/group_view.php', 'id': group_id}) }}">#}
{#                        {{ user_group.name }}#}
{#                    </a>#}
{#                </h4>#}
{#                <p class="group-description">#}
{#                    {{ user_group.description }}#}
{#                </p>#}
                {% if user_is_group_admin %}
                    <div id="edit_image" class="buttom-subscribed">
                        <a class="btn btn--plain" href="{{ url('legacy_main', { 'name' : 'social/group_edit.php', 'id': group_id}) }}">
                            {{ 'EditGroup'|get_lang }}
                        </a>
                    </div>
                    <br />
                {% endif %}
            </div>
        {% elseif show_user %}
            <a href="{{ user_image.big }}" class="expand-image">
                <img class="img-responsive img-circle" src="{{ user_image.big }}" alt="{{ 'UserPicture'|get_lang }}">
            </a>
        {% endif %}
    </div>
</div>
{% endautoescape %}
