{% extends '@ChamiloCore/Layout/layout_one_col.html.twig' %}
{% import '@ChamiloCore/Macros/box.html.twig' as macro %}

{% block content %}
{% autoescape false %}
<div class="row">
    <div class="col-md-3">
        <div class="social-network-menu">
            {% include '@ChamiloCore/Social/user_block.html.twig' %}
            {{ social_menu_block }}
        </div>
    </div>
    <div class="col-md-9">
        {{ macro.panel('PersonalDataIntroductionTitle' | get_lang , 'PersonalDataIntroductionText' | get_lang) }}
        {% if display is defined %}
            {{ display.collapse('', 'PersonalDataKeptOnYou' | get_lang, personal_data.data, false, 'false') }}
        {% endif %}
        {% if personal_data.officer_name %}
            <div class="panel personal-data-responsible">
                <div class="panel-title">{{ 'Personal data officer's name' | get_lang }}</div>
                <div class="personal-data-responsible-description">
                    <a href="mailto:{{ personal_data.officer_email }}">{{ personal_data.officer_name }}</a>
                </div>
                <div class="panel-title">{{ 'Personal data officer's role' | get_lang }}</div>
                <div class="personal-data-responsible-description">
                    {{ personal_data.officer_role }}
                </div>
            </div>
        {% endif %}

        {% if term_link %}
            {{ macro.panel('TermsAndConditions'|get_lang, term_link ) }}
        {% endif %}

        {{ macro.panel('PersonalDataPermissionsYouGaveUs' | get_lang, permission) }}
    </div>
</div>
{% endautoescape %}
{% endblock %}
