{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}
{% from '@ChamiloCore/Admin/Settings/actions.html.twig' import update %}
{% set namespace = app.request.get('namespace') %}

{% block content %}
    <div class="row">
        <div class="col-xs-3 col-md-3">
            {% include '@ChamiloCore/Course/settings_menu.html.twig' %}
        </div>
        <div class="col-xs-9 col-md-9">
            {#<div class="page-header">#}
            {#<h3>{{ namespace }} {{ 'Settings' | trans }}</h3>#}
            {#</div>#}
            <hr />
            <div class="row">
                <div class="col-md-12">
                    {% if form %}
                    <div class="box box-primary">
                        <div class="box-body">
                            {{ form_errors(form) }}
                            <form
                                class="form-horizontal"
                                action="{{ path('chamilo_core_course_settings', { 'namespace': namespace, 'cid' : course.id } ) }}"
                                method="post"
                                novalidate
                            >
                                {{ form_rest(form) }}
                                {{ update() }}
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
