{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
{% autoescape false %}
    <div class="start-course">
        <div class="image-course">
            <img src="{{ course }}" class="img-fluid"/>
        </div>
        <div class="description-course">

            <h2><a href="">{{ course.title }}</a></h2>

                <a role="button" href="{{ course.title }}" class="btn btn-primary btn-lg">
                    {{ "Go to the course created"|trans }}</a>

        </div>
        <div class="start-info">
            <h3>{{ 'Things to do'|trans }}</h3>
            {{ "Tu curso esta recien creado, puedes completar los siguientes módulos para tener una presentación adecuada de tu curso en su catalogo de cursos"|trans }}
        </div>

        <div class="grid-start">
            <div class="items-tools">
                <div class="item">
                    {{ 'tool_info.png' | img(64, 'Add course description'|trans ) }}
                    <div class="caption">
                        <a href="{{ url('legacy_main', { 'name' : 'course_description/index.php', 'cid': course.id}) }}" class="btn btn-outline-primary">
                            <em class="fa fa-info-circle"></em> {{'Add course description'|trans}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="items-tools">
                <div class="item">
                    {{ 'tool_folder_document.png' | img(64, 'Upload a document'|trans ) }}
                    <div class="caption">
                        <a href="{{ url('legacy_main', { 'name' : 'document/document.php', 'cid': course.id}) }} " class="btn btn-outline-primary">
                            <em class="fa fa-paper-plane"></em> {{'Upload a document'|trans}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="items-tools">
                <div class="item">
                    {{ 'tool_forum.png' | img(64, 'Add forum'|trans ) }}
                    <div class="caption">
                        <a href="{{ url('legacy_main', { 'name' : 'forum/index.php', 'cid': course.id}) }}" class="btn btn-outline-primary">
                            <em class="fa fa-users"></em> {{ 'Add forum'|trans }}
                        </a>
                    </div>
                </div>
            </div>
            {% if ("allow_user_course_subscription_by_course_admin" | api_get_setting) == 'true' or is_granted('ROLE_ADMIN') %}
                <div class="items-tools">
                    <div class="item">
                        {{ 'tool_members.png' | img(64, 'Subscribe user to course'|trans ) }}
                        <div class="caption">
                            <a href="{{ url('legacy_main', { 'name' : 'user/subscribe_user.php', 'cid': course.id}) }}" class="btn btn-outline-primary">
                                <em class="fa fa-user-plus"></em> {{ 'Subscribe user to course'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="items-tools">
                <div class="item">
                    {{ 'tool_reference.png' | img(64, 'Course settings'|trans ) }}
                    <div class="caption">
                        <a href="{{ url('legacy_main', { 'name' : 'course_info/infocours.php', 'cid': course.id}) }}" class="btn btn-outline-primary">
                            <em class="fa fa-users"></em> {{ 'Change settings'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endautoescape %}
{% endblock %}
