<div class="tab-pane active" id="main">
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.official_code) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.phone) }}

                {{ form_row(form.timezone) }}
                {{ form_row(form.locale) }}
                {{ form_row(form.picture_uri) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                {{ form_row(form.groups) }}
            </div>
        </div>
        <hr/>
    </div>
    <div class="row">
        <div class="col-md-6">
            <hr/>

        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
