{% block box_collapse %}
    <button class="btn btn-{{ type|default('info') }} btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
{% endblock %}
{% block box_remove %}
    <button class="btn btn-{{ type|default('info') }} btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
{% endblock %}

{% block box_header_buttons %}
    {% if collapse or remove %}
        <div class="box-tools pull-right">
            {% if collapse %}
                {{ block('box_collapse') }}
            {% endif %}
            {% if remove %}
                {{ block('box_remove') }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% macro box_header(title, collapse, remove, type) %}
    <div class="box-header">
        <h3 class="box-title">{{ title }}</h3>
        {{ block('box_header_buttons') }}
    </div>
{% endmacro %}

{% macro menu_item(item) %}
    <li id="{{ item.identifier }}" class=" {{ item.isActive ? 'active' : '' }} {{ item.hasChildren? 'treeview' : '' }}">
        <a href="{{ item.hasChildren ? '#': '/' in item.route ? item.route : path(item.route, item.routeArgs) }}">
            {% if item.icon %} <i class="{{ item.icon }}"></i> {% endif %}
            <span>{{ item.label }}</span>
            {% if item.badge %}
                <small class="badge pull-right bg-{{ item.badgeColor }}">{{ item.badge }}</small>
            {% endif %}
        </a>

        {% if item.hasChildren %}
            <ul class="treeview-menu">
                {% for child in item.children %}
                    <li class="{{ child.isActive ? 'active':'' }}" id="{{ child.identifier }}">
                        <a href="{{ '/' in child.route ? child.route : path(child.route, child.routeArgs) }}">
                            <i class="fa fa-angle-double-right"></i>
                            {{ child.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro collapse(name, title, content, list = false, expanded = 'true') %}
    {% autoescape false %}
    <div class="panel-group" id="{{ name }}" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" id="{{ name }}_block">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#{{ name }}" href="#{{ name }}Collapse" aria-expanded="{{ expanded }}" aria-controls="{{ name }}Collapse">
                        {{ title }}
                    </a>
                </h4>
            </div>
            <div style="" aria-expanded="{{ expanded }}" id="{{ name }}Collapse" class="panel-collapse collapse {{  expanded == 'true' ? 'in' : '' }}" role="tabpanel">
                <div class="panel-body">
                    {% if list %}
                        <ul class="nav nav-pills nav-stacked">
                            {{ content }}
                        </ul>
                    {% else %}
                        {{ content }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endautoescape %}
{% endmacro %}

{% macro collapseFor(name, title, array) %}
    {% autoescape false %}
        <div class="panel-group" id="{{ name }}" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" id="{{ name }}_block">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#{{ name }}" href="#{{ name }}Collapse" aria-expanded="true" aria-controls="{{ name }}Collapse">
                            {{ title }}
                        </a>
                    </h4>
                </div>
                <div style="" aria-expanded="true" id="{{ name }}Collapse" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            {% for item in array %}
                                <li>
                                    <a href="{{ item.link }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endmacro %}

{% macro collapseMenu(name, title, array) %}
    {% autoescape false %}
        <div class="panel-group" id="{{ name }}" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" id="{{ name }}_block">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#{{ name }}" href="#{{ name }}Collapse" aria-expanded="true" aria-controls="{{ name }}Collapse">
                            {{ title }}
                        </a>
                    </h4>
                </div>
                <div aria-expanded="true" id="{{ name }}Collapse" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for item in array %}
                                <li class="list-group-item {{ item.class }}">
                                    <span class="item-icon">{{ item.icon }}</span>
                                    <a href="{{ item.link }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endmacro %}

{% macro pluginSidebar(name, content) %}
    {% autoescape false %}
        <div id="{{ name }}" class="plugin plugin_{{ name }}">
            {{ content }}
        </div>
    {% endautoescape %}
{% endmacro %}

{% macro pluginPanel(name, content) %}
    {% autoescape false %}
        <div id="{{ name }}" class="plugin plugin_{{ name }}">
            <div class="row">
                <div class="col-md-12">
                    {{ content }}
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endmacro %}

{% macro panel(header, content, title, footer, subtitle, top_image) %}
    {% autoescape false %}
        <div class="card mt-3 mb-3">
            {% if header %}
                <div class="card-header"> {{ header }} </div>
            {% endif %}
            {% if top_image %}
                {{ top_image }}
            {% endif %}
            <div class="card-body p-3">
                {% if title %}
                    <h5 class="card-title">{{ title }}</h5>
                {% endif %}
                {% if subtitle %}
                    <h5 class="card-subtitle mb-2 text-muted">{{ subtitle }}</h5>
                {% endif %}

                {{ content }}

            </div>
            {% if footer %}
                <div class="card-footer">
                    {{ footer }}
                </div>
            {% endif %}
        </div>
    {% endautoescape %}
{% endmacro %}

{% macro panel_course(id, header, content, title, footer, subtitle, top_image) %}
    {% autoescape false %}
        <div class="card card-{{ id }} mt-3 mb-3">
            {% if header %}
                <div class="card-header"> {{ header }} </div>
            {% endif %}
            {% if top_image %}
                {{ top_image }}
            {% endif %}
            <div class="card-body p-3">
                {% if title %}
                    <h5 class="card-title">{{ title }}</h5>
                {% endif %}
                {% if subtitle %}
                    <h5 class="card-subtitle mb-2 text-muted">{{ subtitle }}</h5>
                {% endif %}

                {{ content }}

            </div>
            {% if footer %}
                <div class="card-footer">
                    {{ footer }}
                </div>
            {% endif %}
        </div>
    {% endautoescape %}
{% endmacro %}

{% macro panel_row(id, title, subtitle, content, image) %}
    {% autoescape false %}
        <div class="card card-{{ id }} p-3 mt-3 mb-3">
            <div class="card-body pb-3">
                <div class="row">
                    <div class="col-sm-3">
                        {% if image %}
                            {{ image }}
                        {% endif %}
                    </div>
                    <div class="col-sm-9">
                        {% if title %}
                            <h5 class="card-title">{{ title }}</h5>
                        {% endif %}
                        {% if subtitle %}
                            <p class="card-subtitle mb-2 text-muted">
                                <strong>{{ 'Code'|get_lang }} :</strong>
                                {{ subtitle }}
                            </p>
                        {% endif %}
                        {% if content %}
                            <div class="description">
                                {{ content }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endmacro %}
