{% extends "@ChamiloCore/Layout/no_layout.html.twig" %}

{% block content %}

{#    {% if app.session.flashbag.has('warning') %}#}

{#        {% for flashMessage in app.session.flashbag.get('warning') %}#}
{#            <div class="alert alert-warning">#}
{#                <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#                {{ flashMessage }}#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% endif %}#}

    <div
        id="app"
        data-messages="{{ app.session.flashbag.get('warning')|json_encode }}"
        data-is-authenticated="{{ is_authenticated }}"
        data-user-json="{{ user_json }}">

    </div>
    {{ encore_entry_script_tags('vue') }}
{% endblock %}