{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}
{% import '@ChamiloTheme/Macros/box.html.twig' as display %}

{% block content %}
{% autoescape false %}
    {% if 'translate_html'|api_get_configuration_value %}
        <script>
            $(function () {
                // default
                $('.category-forum ').hide();

                {% if default_user_language %}
                $('.{{ default_user_language }}').show();
                {% endif %}

                $('#extra_language').attr('data-width', '200px');
                $('#extra_language option[value=""]').text('{{ 'Any' | get_lang | escape('js') }}');
                $('#extra_language').on('change', function() {
                    var selectedLanguageArray = $(this).val();
                    $('.category-forum ').hide();
                    $.each(selectedLanguageArray, function(index, selectedLanguage) {
                        if (selectedLanguage == '') {
                            $('.category-forum ').show();
                        } else {
                            $('.'+ selectedLanguage).show();
                        }
                    });
                });
            });
        </script>
    {% endif %}

    {{ form_content }}
    {{ search_filter }}

    {% set fold_forum_categories = 'forum_fold_categories'|api_get_configuration_value %}

    <div class="accordion forum" id="accordion-forum">
    {% if data is not empty %}
        {% for item in data %}

            {% set category_language_array = [] %}
            {% set category_language = '' %}
            {% for extra_field in item.extra_fields %}
                {% if extra_field.variable == 'language' %}
                    {% set category_language_array = extra_field.value | split(';')  %}
                    {% set category_language = extra_field.value | replace({';': ' ' })  %}
                {% endif %}
            {% endfor %}

            {{ display.card_collapse('accordion-forum', item)  }}

        {% endfor %}
    {% else %}
        <div class="alert alert-warning">
            {{ 'NoForumInThisCategory'|get_lang }}
        </div>
    {% endif %}
    </div>

{% endautoescape %}
{% endblock %}
