{% autoescape false %}
<div class="course-tools">
    <h2>{{ "Customize icons" | get_lang }}</h2>
    <div class="grid-tools">
        {% for tool in tools %}
        <div class="items-tools">
            <div class="tools mt-3 mb-3">
                <div class="big_icon">
                    <img src="{{ tool.image }}" alt="{{ tool.name }}" title="{{ tool.name }}"/>
                </div>
                <div class="content pt-2 pb-2">
                    {{ tool.name }}
                    <div class="tool-btn">
                        {{ tool.action }}
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endautoescape %}
