{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
{% autoescape false %}
{{ session_header }}
{{ title }}

<table id="session-properties" class="table table-bordered">
    <tr>
        <td>{{ 'Created by'|trans }}</td>
        <td>
            {% for session_admin in session.sessionAdmins %}
                {{ session_admin | user_complete_name_with_link }}<br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>{{ 'General coach' | trans}} :</td>
        <td>
            {% for coach in session.generalCoaches %}
                {{ coach | user_complete_name_with_link }}<br>
            {% endfor %}
        </td>
    </tr>
    {% if session.category  %}
    <tr>
        <td>{{ 'Session category' | trans}} </td>
        <td>{{ session.category.name }}</td>
    </tr>
    {% endif %}

    {% if session.duration > 0 %}
    <tr>
        <td>{{ 'Duration' | trans}} </td>
        <td>
            {{ session.duration }} {{ 'Days' | trans }}
        </td>
    </tr>
    {% else %}
    <tr>
        <td>{{ 'Dates shown' | trans}} </td>
        <td>{{ session_dates.display }}</td>
    </tr>
    <tr>
        <td>{{ 'Access dates for students' | trans}} </td>
        <td>{{ session_dates.access }}</td>
    </tr>
    <tr>
        <td>{{ 'Access dates for coaches' | trans}} </td>
        <td>{{ session_dates.coach }}</td>
    </tr>
    {% endif %}

    <tr>
        <td>{{ 'Description' | trans}} </td>
        <td>
            {{ session.description }}
        </td>
    </tr>
    <tr>
        <td>{{ 'Show description' | trans}} </td>
        <td>
            {% if session.showDescription == 1 %}
                {{ 'Yes' | trans}}
            {% else %}
                {{ 'No' | trans}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{ 'Visibility after end date' | trans}} </td>
        <td>
            {{ session_visibility }}
        </td>
    </tr>
    {% if session.promotion %}
        <tr>
            <td>{{ 'Career' | trans}}</td>
            <td>
                <a href="{{ _p.web_main }}admin/career_dashboard.php?filter={{ session.promotion.career.id }}&submit=&_qf__filter_form=">
                    {{ session.promotion.career.name }}
                </a>
            </td>
        </tr>
        <tr>
            <td>{{ 'Promotion' | trans}}</td>
            <td>
                <a href="{{ _p.web_main }}admin/promotions.php?action=edit&id={{ session.promotion.id }}">
                    {{ session.promotion.name }}
                </a>
            </td>
        </tr>
    {% endif %}

    {% if url_list %}
        <tr>
            <td>URL</td>
            <td>
            {% for url in url_list %}
                {{ url.url }}
            {% endfor %}
            </td>
        </tr>
    {% endif %}

    {% for extra_field in extra_fields %}
        <tr>
            <td>{{ extra_field.text }}</td>
            {% if  extra_field.value is iterable %}
                <td>{{ extra_field.value.value }}</td>
            {% else %}
                <td>{{ extra_field.value }}</td>
            {% endif %}
        </tr>
    {% endfor %}

    {% if programmed_announcement %}
        <tr>
            <td>{{ 'Scheduled announcements' | trans }}</td>
            <td>
                <a class="btn btn-default" href="{{ _p.web_main }}session/scheduled_announcement.php?session_id={{ session.id }}">
                    {{ 'Edit' | trans }}
                </a>
            </td>
        </tr>
    {% endif %}
</table>

{{ course_list }}
{{ user_list }}

{{ requirements }}
{{ dependencies }}
{% endautoescape %}
{% endblock %}
