<!-- User Account: style can be found in dropdown.less -->
{% import "ChamiloAdminThemeBundle:layout:macros.html.twig" as macro %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i>
        <span>{{ user.username }} <i class="caret"></i></span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header bg-light-blue">
            {#{{ macro.avatar(user.avatar, user.username) }}#}
            {% media user.avatar, 'small' with {'class' : 'img-circle', 'alt' : user.username, 'title' : user.username } %}
            <p>
                {{user.username}}
                 <small>
                    {{ 'Member since %date%'|trans({'%date%': user.memberSince|date('m.Y') }, 'ChamiloAdminTheme') }}
                </small>
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">
                    {{'Profile'|trans({}, 'ChamiloAdminTheme')}}
                </a>
            </div>
            <div class="pull-right">
                <a href="{{ path('logout') }}" class="btn btn-default btn-flat">
                    {{ 'Sign out'|trans({}, 'ChamiloAdminTheme') }}
                </a>
            </div>
        </li>
    </ul>
</li>
