{% autoescape false %}
<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ url('legacy_index') }}">
        <img class="navbar-brand-full" width="130" src="{{ url('legacy_public') ~ 'build/css/themes/'~ theme ~'/images/logo_chamilo.svg' }}" alt="Chamilo"/>
        <img class="navbar-brand-minimized" width="35" src="{{ url('legacy_public') ~ 'build/css/themes/'~ theme ~'/images/avatar.svg' }}"  alt="Chamilo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Catálogo de cursos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </ul>
    {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                Mis cursos
            </a>
        </li>
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="badge badge-pill badge-success">1</span>
            </a>
        </li>
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="icon-bell"></i>
                <span class="badge badge-pill badge-danger">5</span>
            </a>
        </li>
        <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#">
                <i class="fa fa-envelope-o"></i>
                <span class="badge badge-pill badge-info">20</span>
            </a>
        </li>
        <li class="nav-item dropdown">

            {% set avatar %}
                {% if app.user.pictureUri is empty %}
                    <img
                        class="img-avatar"
                        src="{{ url('legacy_public') ~ app.user.avatarOrAnonymous(32) }}"
                        alt="{{ app.user.firstname }} {{ app.user.lastname }}"
                    >
                {% else %}
                    <img
                        class="img-avatar"
                        src="{{ url('legacy_upload') ~ app.user.getPictureLegacy() }}"
                        alt="{{ app.user.firstname }} {{ app.user.lastname }}"
                    >
                {% endif %}
            {% endset %}

            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {{ avatar }}
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Settings</strong>
                </div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-bell-o"></i> Notificaciones
                    <span class="badge badge-info">42</span>
                </a>
                <a class="dropdown-item" href="{{ url('legacy_main', { 'name' : 'messages/inbox.php' }) }}">
                    <i class="fa fa-envelope-o"></i> {{ "Inbox"|trans }}
                    <span class="badge badge-success">42</span>
                </a>
                <a class="dropdown-item" href="{{ url('legacy_main', { 'name' : 'auth/profile.php' }) }}">
                    <i class="fa fa-user"></i> {{ "Edit profile"|trans }} </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-wrench"></i> Configuración</a>

                <a class="dropdown-item" href="#">
                    <i class="fa fa-lock"></i> Salir</a>
            </div>
        </li>
    </ul>
    {% endif %}
</header>
{% endautoescape %}