{% import "ChamiloThemeBundle:Macros:box.html.twig" as macro_box %}
{% import "ChamiloThemeBundle:Macros:actions.html.twig" as macro_actions %}
{% import "ChamiloThemeBundle:Macros:buttons.html.twig" as macro_buttons %}
{% import "ChamiloThemeBundle:Macros:image.html.twig" as macro_image %}
{% import 'ChamiloThemeBundle:Macros:headers.html.twig' as macro_headers %}
<!doctype html>
<!--[if IE 9 ]>
<html lang="{{ app.request.locale }}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="{{ app.request.locale }}" class="no-js"> <!--<![endif]-->
{# Chamilo theme #}
{% set theme = 'chamilo' %}
{% block chamilo_head %}
<head>
{% include "@ChamiloTheme/Layout/head.html.twig" %}
</head>
{% endblock %}

<body
    class="{{ section_name }} app"
    {{ sonata_seo_html_attributes() }}
    data-in-course="{{ course ? 'true' : 'false' }}"
    data-course-code="{{ course ? course.code : '' }}"
>
<noscript>{{ "NoJavascript" | trans }}</noscript>

<!-- SPINNER LOADER -->
<div id='loader'>
    <div class="spinner"></div>
</div>
<!-- END SPINNER -->

<script>
    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 1000);
    });
</script>

<!-- APP CONTENT -->
<div>
    <!-- APP SIDEBAR -->
    <div class="sidebar">
        <div class="sidebar-inner">
            <!-- SIDEBAR LOGO -->
            <div class="sidebar-logo">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed">
                        <a class="sidebar-link td-n" href="{{ url('legacy_index') }}">
                            <div class="peers ai-c fxw-nw">
                                <div class="peer">
                                    <div class="logo">
                                        <img src="{{ asset('build/css/themes/'~ theme ~'/images/logo_chamilo.svg') }}"/>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="" class="td-n">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SIDEBAR LOGO -->
            <!-- SIDEBAR MENU -->
            {# SIDEBAR MENU #}
            {% block chamilo_menu %}
                <div id="menu-bar">
                    {# creatable variable is set by the sonata page #}
                    {% if not creatable %}
                        {# course navigation links/shortcuts need to be activated by the admin #}
                        {% include "@ChamiloTheme/Layout/sidebar.html.twig" %}
                    {% endif %}
                </div>
            {% endblock %}
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END APP SIDEBAR -->
    <!-- PAGE CONTAINER -->

    <div class="page-container">
        <!-- TOOLBAR USER -->
        {% block chamilo_header %}
            {% include '@ChamiloTheme/Layout/topbar.html.twig' %}
        {% endblock %}
        <!-- END TOOLBAR USER -->
        {% block chamilo_wrap %}
        <!-- MAIN CONTENT -->
        {% autoescape false %}
        <main class='main-content bg-content'>
            <div class="container box-body">
                <div class="pt-1 pb-1">
                {% block page_content %}

                {% endblock %}
                </div>
            </div>
        </main>
        {% endautoescape %}
        <!-- END MAIN CONTENT -->
        {% endblock %}

    </div>
    <!-- END PAGE CONTAINER -->
    <!-- FOOTER -->
    {% block chamilo_footer %}
        {% include '@ChamiloTheme/Layout/footer.html.twig' %}
    {% endblock %}
    <!-- END FOOTER -->

</div>
<!-- END APP CONTENT -->

<div class="modal fade" id="expand-image-modal" tabindex="-1" role="dialog" aria-labelledby="expand-image-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ "Close" | get_lang }}"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="expand-image-modal-title">&nbsp;</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
{# Global modal, load content by AJAX call to href attribute on anchor tag with 'ajax' class #}
<div class="modal fade" id="global-modal" tabindex="-1" role="dialog" aria-labelledby="global-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ "Close" | get_lang }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="global-modal-title">&nbsp;</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

</body>
</html>
