{% import "ChamiloThemeBundle:Macros:box.html.twig" as macro_box %}
{% import "ChamiloThemeBundle:Macros:actions.html.twig" as macro_actions %}
{% import "ChamiloThemeBundle:Macros:buttons.html.twig" as macro_buttons %}
{% import "ChamiloThemeBundle:Macros:image.html.twig" as macro_image %}
{% import 'ChamiloThemeBundle:Macros:headers.html.twig' as macro_headers %}
<!doctype html>
<!--[if IE 9 ]>
<html lang="{{ app.request.locale }}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="{{ app.request.locale }}" class="no-js"> <!--<![endif]-->
{# Chamilo theme #}
{% set theme = 'chamilo' %}
{% block chamilo_head %}
<head>
{% include "@ChamiloTheme/Layout/head.html.twig" %}
</head>
{% endblock %}

<body
    class="{{ section_name }} app"
    {{ sonata_seo_html_attributes() }}
    data-in-course="{{ course ? 'true' : 'false' }}"
    data-course-code="{{ course ? course.code : '' }}"
>
<noscript>{{ "NoJavascript" | trans }}</noscript>

<!-- SPINNER LOADER -->
<div id='loader'>
    <div class="spinner"></div>
</div>
<!-- END SPINNER -->

<script>
    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 1000);
    });
</script>

<!-- APP CONTENT -->
<div>
    <!-- APP SIDEBAR -->
    <div class="sidebar">
        <div class="sidebar-inner">
            <!-- SIDEBAR LOGO -->
            <div class="sidebar-logo">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed">
                        <a class="sidebar-link td-n" href="index.html">
                            <div class="peers ai-c fxw-nw">
                                <div class="peer">
                                    <div class="logo">
                                        <a href="{{ url('legacy_index') }}">
                                            <img src="{{ asset('build/css/themes/'~ theme ~'/images/logo_chamilo.svg') }}"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="" class="td-n">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SIDEBAR LOGO -->
            <!-- SIDEBAR MENU -->
            <ul class="sidebar-menu scrollable pos-r">
                <li class="nav-header">Menú principal</li>

                <li class="nav-item active">
                    <a class="sidebar-link" href="index.html">
                <span class="icon-holder">
                  <i class="c-icon-sidebar fa fa-home"></i>
                </span>
                        <span class="title">Página principal</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-icon-sidebar fa fa-book"></i>
                </span>
                        <span class="title">Cátalogo de cursos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-icon-sidebar fa fa-bar-chart"></i>
                </span>
                        <span class="title">Informe</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-icon-sidebar fa fa-heart-o"></i>
                </span>
                        <span class="title">Red Social</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-icon-sidebar fa fa-cube"></i>
                </span>
                        <span class="title">Panel de control</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-icon-sidebar fa fa-star-o"></i>
                </span>
                        <span class="title">Competencias</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="sidebar-link" href="#">
                <span class="icon-holder">
                    <i class="c-icon-sidebar fa fa-cogs"></i>
                  </span>
                        <span class="title">Administración</span>
                    </a>
                </li>
                <li class="nav-header">Enlaces rápidos</li>
                <li class="sidebar-divider"></li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                  <i class="c-icon-sidebar fa fa-user-o"></i>
                </span>
                        <span class="title">Gestión de usuarios</span>
                        <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class='sidebar-link' href="#">Lista de usuarios</a>
                        </li>
                        <li>
                            <a class='sidebar-link' href="#">Gestionar campos de usuario</a>
                        </li>
                        <li>
                            <a class='sidebar-link' href="#">Crear un usuario</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="c-icon-sidebar fa fa-graduation-cap"></i>
                  </span>
                        <span class="title">Gestión de cursos</span>
                        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class='sidebar-link' href="#">Lista de cursos</a>
                        </li>
                        <li>
                            <a class='sidebar-link' href="#">Categorias de cursos</a>
                        </li>
                        <li>
                            <a class='sidebar-link' href="#">Crear un curso</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="c-icon-sidebar fa fa-book"></i>
                  </span>
                        <span class="title">Gestión de sesiones</span>
                        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class='sidebar-link' href="#">Lista de sesiones de formación</a>
                        </li>
                        <li>
                            <a class='sidebar-link' href="#">Categorías de sesiones de formación</a>
                        </li>
                        <li>
                            <a class='sidebar-link' href="#">Crear una sesión</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                  <i class="c-icon-sidebar fa fa-language"></i>
                </span>
                        <span class="title">Idioma</span>
                        <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                            <a href="#">
                                <span>Lista de idiomas</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#">
                                <span>Sub idiomas</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">Enlaces personalizados</li>
                <li class="sidebar-divider"></li>
                <li class="nav-item">
                    <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-icon-sidebar fa fa-file-text-o"></i>
                </span>
                        <span class="title">Documentación</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-icon-sidebar fa fa-users"></i>
                </span>
                        <span class="title">Foros</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-icon-sidebar fa fa-github"></i>
                </span>
                        <span class="title">Repositorio Github</span>
                    </a>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END APP SIDEBAR -->
    <!-- PAGE CONTAINER -->

    <div class="page-container">
        <!-- TOOLBAR USER -->
        <div class="header navbar">
            <div class="header-container">
                <ul class="nav-left">
                    <li>
                        <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                            <i class="ti-menu"></i>
                        </a>
                    </li>
                    <li class="search-box">
                        <a class="search-toggle no-pdd-right" href="javascript:void(0);">
                            <i class="search-icon ti-search pdd-right-10"></i>
                            <i class="search-icon-close ti-close pdd-right-10"></i>
                        </a>
                    </li>
                    <li class="search-input">
                        <input class="form-control" type="text" placeholder="Search...">
                    </li>
                </ul>
                <ul class="nav-right">
                    <li class="btn-padding">
                        <a class="btn btn-light btn-create-two btn-sm" src="#">
                            <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                            Crear un curso
                        </a>
                    </li>
                    <li class="btn-padding">
                        <a class="btn btn-light btn-create-one btn-sm" src="#">
                            <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                            Crear una sesión
                        </a>
                    </li>
                    <li class="btn-padding">
                        <a class="btn btn-light btn-create-three btn-sm" src="#">
                            <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
                            Mis cursos
                        </a>
                    </li>

                    <li class="btn-menu">
                        <a href="#">
                            <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="notifications dropdown">
                        <span class="counter bgc-red">3</span>
                        <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
                            <i class="fa fa-bell-o fa-lg" aria-hidden="true"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="pX-20 pY-15 bdB">
                                <i class="ti-bell pR-10"></i>
                                <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
                            </li>
                            <li>
                                <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                                    <li>
                                        <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                                            <div class="peer mR-15">
                                                <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                                            </div>
                                            <div class="peer peer-greed">
                            <span>
                              <span class="fw-500">John Doe</span>
                              <span class="c-grey-600">liked your <span class="text-dark">post</span>
                              </span>
                            </span>
                                                <p class="m-0">
                                                    <small class="fsz-xs">5 mins ago</small>
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                                            <div class="peer mR-15">
                                                <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/2.jpg" alt="">
                                            </div>
                                            <div class="peer peer-greed">
                            <span>
                              <span class="fw-500">Moo Doe</span>
                              <span class="c-grey-600">liked your <span class="text-dark">cover image</span>
                              </span>
                            </span>
                                                <p class="m-0">
                                                    <small class="fsz-xs">7 mins ago</small>
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                                            <div class="peer mR-15">
                                                <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/3.jpg" alt="">
                                            </div>
                                            <div class="peer peer-greed">
                            <span>
                              <span class="fw-500">Lee Doe</span>
                              <span class="c-grey-600">commented on your <span class="text-dark">video</span>
                              </span>
                            </span>
                                                <p class="m-0">
                                                    <small class="fsz-xs">10 mins ago</small>
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="pX-20 pY-15 ta-c bdT">
                    <span>
                      <a href="" class="c-grey-600 cH-blue fsz-sm td-n">View All Notifications <i class="ti-angle-right fsz-xs mL-10"></i></a>
                    </span>
                            </li>
                        </ul>
                    </li>
                    <li class="notifications dropdown">
                        <span class="counter bgc-blue">3</span>
                        <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
                            <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="pX-20 pY-15 bdB">
                                <i class="ti-email pR-10"></i>
                                <span class="fsz-sm fw-600 c-grey-900">Emails</span>
                            </li>
                            <li>
                                <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                                    <li>
                                        <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                                            <div class="peer mR-15">
                                                <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                                            </div>
                                            <div class="peer peer-greed">
                                                <div>
                                                    <div class="peers jc-sb fxw-nw mB-5">
                                                        <div class="peer">
                                                            <p class="fw-500 mB-0">John Doe</p>
                                                        </div>
                                                        <div class="peer">
                                                            <small class="fsz-xs">5 mins ago</small>
                                                        </div>
                                                    </div>
                                                    <span class="c-grey-600 fsz-sm">
                                Want to create your own customized data generator for your app...
                              </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                                            <div class="peer mR-15">
                                                <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/2.jpg" alt="">
                                            </div>
                                            <div class="peer peer-greed">
                                                <div>
                                                    <div class="peers jc-sb fxw-nw mB-5">
                                                        <div class="peer">
                                                            <p class="fw-500 mB-0">Moo Doe</p>
                                                        </div>
                                                        <div class="peer">
                                                            <small class="fsz-xs">15 mins ago</small>
                                                        </div>
                                                    </div>
                                                    <span class="c-grey-600 fsz-sm">
                                Want to create your own customized data generator for your app...
                              </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                                            <div class="peer mR-15">
                                                <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/3.jpg" alt="">
                                            </div>
                                            <div class="peer peer-greed">
                                                <div>
                                                    <div class="peers jc-sb fxw-nw mB-5">
                                                        <div class="peer">
                                                            <p class="fw-500 mB-0">Lee Doe</p>
                                                        </div>
                                                        <div class="peer">
                                                            <small class="fsz-xs">25 mins ago</small>
                                                        </div>
                                                    </div>
                                                    <span class="c-grey-600 fsz-sm">
                                Want to create your own customized data generator for your app...
                              </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="pX-20 pY-15 ta-c bdT">
                    <span>
                      <a href="email.html" class="c-grey-600 cH-blue fsz-sm td-n">View All Email <i class="fs-xs ti-angle-right mL-10"></i></a>
                    </span>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                            <div class="peer mR-10">
                                <img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
                            </div>
                            <div class="peer">
                                <span class="fsz-sm c-grey-900">John Doe</span>
                            </div>
                        </a>
                        <ul class="dropdown-menu fsz-sm">
                            <li>
                                <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                    <i class="ti-settings mR-10"></i>
                                    <span>Setting</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                    <i class="ti-user mR-10"></i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="email.html" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                    <i class="ti-email mR-10"></i>
                                    <span>Messages</span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                    <i class="ti-power-off mR-10"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END TOOLBAR USER -->

        <!-- MAIN CONTENT -->
        <main class='main-content bg-content'>
            <div id='mainContent'>
                <div class="row gap-20 masonry pos-r">


                </div>
            </div>
        </main>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END PAGE CONTAINER -->
    <!-- FOOTER -->
    <footer class="footer bdT ta-c lh-0 fsz-sm c-grey-600">
        <p><strong>Responsable : </strong> Doe, John - Creado con Chamilo © 2018.</p>
    </footer>
    <!-- END FOOTER -->

</div>
<!-- END APP CONTENT -->

{% block chamilo_wrap %}
    {% autoescape false %}
    <div id="wrap">
        <div id="navigation" class="notification-panel">
            {{ help_content }}
            {{ bug_notification }}
        </div>
        {# topbar #}
        {% block chamilo_topbar %}
            {# creatable variable is set by the sonata page #}
            {% if not creatable %}
            {% include "@ChamiloTheme/Layout/topbar.html.twig" %}
            {% endif %}
        {% endblock %}
        <div class="extra-header">{{ header_extra_content }}</div>
        {% block chamilo_header %}
        <header>
            <div class="extra-header">
                {{ header_extra_content }}
            </div>

            <section id="main" class="container">
                {% if plugin_header_main %}
                    <div class="row">
                        <div class="col-lg-12">
                            {{ plugin_header_main }}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="{{ url('legacy_index') }}">
                            <img src="{{ asset('build/css/themes/'~ theme ~'/images/header-logo.png') }}"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="col-sm-4">
                            {% if plugin_header_left is not null %}
                                <div id="plugin_header_left">
                                    {{ plugin_header_left }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-4">
                            {% if plugin_header_center is not null %}
                                <div id="plugin_header_center">
                                    {{ plugin_header_center }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-4">
                            {% if plugin_header_right is not null %}
                                <div id="plugin_header_right">
                                    {{ plugin_header_right }}
                                </div>
                            {% endif %}
                            <div class="section-notifications">
                                <ul id="notifications" class="nav nav-pills pull-right">
                                    {{ notification_menu }}
                                </ul>
                            </div>
                            {% if chamilo_settings_get("display.accessibility_font_resize")  == 'true' %}
                                <div class="resize_font">
                                    <div class="btn-group">
                                        <a title= "{{ 'DecreaseFontSize' | trans }}" href="#" class="decrease_font btn btn-default">
                                            <em class="fa fa-font"></em>
                                        </a>
                                        <a title= "{{ 'ResetFontSize' | trans }}" href="#" class="reset_font btn btn-default">
                                            <em class="fa fa-font"></em>
                                        </a>
                                        <a title= "{{ 'IncreaseFontSize' | trans }}" href="#" class="increase_font btn btn-default">
                                            <em class="fa fa-font"></em>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>

            {# menu #}
            {% block chamilo_menu %}
                <div id="menu-bar">
                    {# creatable variable is set by the sonata page #}
                    {% if not creatable %}
                        {# course navigation links/shortcuts need to be activated by the admin #}
                        {% include "@ChamiloTheme/Layout/menu.html.twig" %}
                    {% endif %}
                </div>
            {% endblock %}
        </header>
        {% endblock %}

        {#<div id="top_main_content" class="container">#}
        <div id="top_main_content" class="container">
        {# course navigation links/shortcuts need to be activated by the admin #}
        {% include "@ChamiloTheme/Layout/course_navigation.html.twig" %}
            {#<header class="header">#}
                {#{% block chamilo_logo %}#}
                {#<a href="#" class="logo">#}
                    {#Chamilo#}
                    {#&#123;&#35;{{- chamilo_settings_get('platform.institution') -}}&#35;&#125;#}
                {#</a>#}
                {#{% endblock %}#}
                {#{% block chamilo_main_navbar %}#}
                {#<!-- Header Navbar: style can be found in header.less -->#}
                {#{% endblock %}#}
            {#</header>#}
        {% block page_content %}
        {% endblock %}
        </div> {# end top_main_content #}
    </div> {# End page-wrap div #}
    {% block chamilo_footer %}
        {% include '@ChamiloTheme/Layout/footer.html.twig' %}
    {% endblock %}
{% endautoescape %}
{% endblock %} {# End chamilo_wrap block #}
</body>
</html>
