{% autoescape false %}
<footer class="footer bdT ta-c lh-0 fsz-sm c-grey-600 text-right">
    {% if plugin_pre_footer %}
        <div id="plugin_pre_footer">
            {{ plugin_pre_footer }}
        </div>
    {% endif %}
    {% if administrator_name is not null %}
        {{ administrator_name }}
    {% endif %}
    <a href="{{_p.web}}" target="_blank">
        {{ "PoweredByX" |get_lang | format(_s.software_name) }}
    </a>&copy; {{ "now"|date("Y") }}
</footer>

{#<footer {% block footer_open_attributes %}{% endblock footer_open_attributes %}>#}
{% endautoescape %}

{# Delete modal #}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ 'Delete' | get_lang }}</h4>
            </div>

            <div class="modal-body">
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | get_lang }}</button>
                <a id="delete_item" class="btn btn-danger btn-ok">{{ 'Delete' | get_lang }}</a>
            </div>
        </div>
    </div>
</div>

{{ execution_stats }}


{{ footer_extra_content }}
