{% autoescape false %}
<div class="app-elevator">
    <button id="back-to-top" role="button" type="button" class="btn btn-primary" title="{{ 'BackToTop'|trans }}" data-toggle="tooltip" data-placement="left">
        <i class="fas fa-angle-up"></i>
    </button>
</div>

<footer class="app-footer">
    <div>
        <a href="{{_p.web}}" target="_blank">
            {{ "PoweredByX" |trans | format(_s.software_name) }}
            {{ "Chamilo"| trans }}
        </a>&copy; {{ "now"|date("Y") }}
    </div>
    <div class="ml-auto">
        {% if administrator_name is not null %}
            {{ administrator_name }}
        {% endif %}
    </div>
</footer>

{# Delete modal #}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ 'Delete' | trans }}</h4>
            </div>

            <div class="modal-body">
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | trans }}</button>
                <a id="delete_item" class="btn btn-danger btn-ok">{{ 'Delete' | trans }}</a>
            </div>
        </div>
    </div>
</div>

{% endautoescape %}

{{ execution_stats }}
{{ footer_extra_content }}