{% autoescape false %}
<footer class="footer bdT ta-c lh-0 fsz-sm c-grey-600 text-right">
    {% if plugin_pre_footer %}
        <div id="plugin_pre_footer">
            {{ plugin_pre_footer }}
        </div>
    {% endif %}
    {% if administrator_name is not null %}
        {{ administrator_name }}
    {% endif %}
    <a href="{{_p.web}}" target="_blank">
        {{ "PoweredByX" |get_lang | format(_s.software_name) }}
    </a>&copy; {{ "now"|date("Y") }}
</footer>

{#<footer {% block footer_open_attributes %}{% endblock footer_open_attributes %}>#}
{% endautoescape %}
{{ execution_stats }}


{{ footer_extra_content }}
