{% extends '@ChamiloTheme/Layout/base-layout.html.twig' %}

{% block page_content %}
    {% autoescape false %}

    {% if js is defined %}
        {% for item in js %}
            {{ item }}
        {% endfor %}
    {% endif %}

    {% if plugin_main_top %}
        <div id="plugin_main_top" class="col-md-12">
            {{ plugin_main_top }}
        </div>
    {% endif %}

    {% if plugin_content_top %}
        <div id="plugin_content_top" class="col-md-12">
            {{ plugin_content_top }}
        </div>
    {% endif %}

    {% if show_course_shortcut is not null %}
        <div class="nav-tools">
            {{ show_course_shortcut }}
        </div>
    {% endif %}

    <section class="section-content">
        {% autoescape false %}
        {% block chamilo_messages %}
            <section class="container-fluid">
                {% include '@ChamiloTheme/FlashMessage/render.html.twig' %}
            </section>
        {% endblock %}

        <section class="container-fluid">
            <div class="card mb-4">
                <div id="card-container" class="card-body">
                    {% if introduction != '' %}
                        {{ introduction }}
                    {% endif %}

                    {% if actions != '' %}
                        {{ actions }}
                    {% endif %}
                    {# Content #}
                    {% block content %}
                        {{ content }}
                    {% endblock %}
                </div>
            </div>
        </section>
        {% endautoescape %}
    </section>
    {% if plugin_content_bottom %}
        <div id="plugin_content_bottom" class="col-md-12">
            {{ plugin_content_bottom }}
        </div>
    {% endif %}

    {% if plugin_main_bottom %}
        <div id="plugin_main_bottom" class="col-md-12">
            {{ plugin_main_bottom }}
        </div>
    {% endif %}
    {% endautoescape %}
{% endblock %}


