{% import '@ChamiloTheme/Macros/box.html.twig' as macro %}

<!doctype html>
<!--[if lt IE 7 ]><html lang="{{ app.request.getLocale() }}" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="{{ app.request.getLocale() }}" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="{{ app.request.getLocale() }}" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="{{ app.request.getLocale() }}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="{{ app.request.getLocale() }}" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
    {% block title %}
    {{ chamilo_settings_get('platform.institution') }} - {{ chamilo_settings_get('platform.site_name') }}
    {% endblock %}
        {% set theme = 'chamilo' %}
    </title>
    {% block stylesheets %}
        {# for stylesheet in sonata_admin.adminPool.getOption('stylesheets', [])
            <link rel="stylesheet" href="{{ asset(stylesheet) }}">
        endfor #}
    {% endblock %}
    {# Files app.css is generated from "assets/css/app.scss" file using the file webpack.config.js #}
    <link rel="stylesheet" href="{{ url('legacy_public') ~ 'build/css/app.css' }}"/>
</head>
<body class="bg-chamilo">
<div class="login-box">
    <div class="login-logo">
        <img width="250px" src="{{ url('legacy_public') ~ 'build/css/themes/'~ theme ~'/images/logo_chamilo.svg' }}"/>
    </div>
    {# To see login layout check #}
    {# src/Chamilo/UserBundle/Resources/views/Security/base_login.html.twig #}
    {# src/Chamilo/UserBundle/Resources/views/Security/login.html.twig #}
    {% block page_content %}

    {% endblock %}
</div>
</body>
</html>
