{% autoescape false %}
<ul class="sidebar-menu scrollable pos-r">

    <form class="form-inline sidebar-search mt-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-search">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="{{ 'Search'|trans }}" aria-label="{{ 'Search'|trans }}" aria-describedby="basic-search">
        </div>
    </form>

    {% set menu = knp_menu_get('menuApp') %}

    <li class="sidebar-divider"></li>

    {{ knp_menu_render(menu, {'ancestorClass': 'current_open open', 'template': '@ChamiloTheme/Menu/left_menu.html.twig'}) }}

    <li class="sidebar-divider"></li>
    <li class="nav-item">
        <a class='sidebar-link' href="https://docs.chamilo.org/">
            <span class="icon-holder">
                <i class="far fa-file-alt"></i>
            </span>
            {{ "Documentation"|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class='sidebar-link' href="https://forum.chamilo.org/">
            <span class="icon-holder">
                <i class="fa fa-users"></i>
            </span>
            {{ "Forums"|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class='sidebar-link' href="https://github.com/chamilo/chamilo-lms">
            <span class="icon-holder">
                <i class="fab fa-github"></i>
            </span>
            {{ "GithubRepository"|trans }}
        </a>
    </li>
</ul>
{% endautoescape %}