{% autoescape false %}
<ul class="sidebar-menu scrollable pos-r">

    {% set menu = knp_menu_get('ChamiloCoreBundle:NavBuilder:menuApp') %}

    <ul class="navbar-nav">
        {% for item in menu.children %}
            {% set children = item.children|length %}
            {% set current = item.isCurrent ? 'active': '' %}
            <li class="nav-item {{ current }} {{ children > 0 ? 'dropdown' : '' }}">
                <a id="menu_{{ item.name }}" class='sidebar-link' href="{{ item.uri }}">
                    <span class="icon-holder">
                        <i class="fa fa-{{ item.extras.icon }}"></i>
                    </span>
                    <span class="title">
                        {{ item.label }}
                    </span>
                </a>
                {% if children > 0 %}
                    <ul id="submenu_{{ item.name }}" class="dropdown-menu">
                        {% for item in item.children %}
                        <li>
                            <a href="{{ item.uri }}" class="sidebar-link">
                                {{ item.label }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>


    <li class="sidebar-divider"></li>

    <li class="nav-item">
        <a class='sidebar-link' href="https://docs.chamilo.org/">
            <i class="far fa-file-alt"></i>
            {{ "Documentation"|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class='sidebar-link' href="https://forum.chamilo.org/">
            <i class="fa fa-users"></i>
            {{ "Forums"|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class='sidebar-link' href="https://github.com/chamilo/chamilo-lms">
            <i class="fab fa-github"></i>
            {{ "GithubRepository"|trans }}
        </a>
    </li>
</ul>
{% endautoescape %}