<!-- Topbar -->
{% autoescape false %}
{% if show_toolbar == 1 %}
    <nav id="toolbar-admin" class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ _p.web }}">
            <img src="{{ "icon-chamilo.png"|icon(22) }}" title="{{ "siteName" | get_setting }}">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ _p.web }}user_portal.php"> {{ "MyCourses"|get_lang }}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            {{'Tracking'|get_lang }}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ _p.web_main }}mySpace/">{{ "CoursesReporting"|get_lang }}</a></li>
                            <li><a href="{{ _p.web_main }}mySpace/index.php?view=admin">{{ "AdminReports"|get_lang }}</a></li>
                            <li><a href="{{ _p.web_main }}tracking/exams.php">{{ "ExamsReporting"|get_lang }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ _p.web_main }}dashboard/">{{ "Dashboard"|get_lang }}</a></li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') == 1 %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{'Administration'|get_lang }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ _p.web_main }}admin/">{{ "Home"|get_lang }}</a></li>
                            <li><a href="{{ _p.web_main }}admin/user_list.php">{{ "UserList"|get_lang }}</a></li>
                            <li><a href="{{ _p.web_main }}admin/course_list.php">{{ "CourseList"|get_lang }}</a></li>
                            <li><a href="{{ _p.web_main }}session/session_list.php">{{ "SessionList"|get_lang }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ _p.web_main }}admin/settings.php">{{ "Settings"|get_lang }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ _p.web_main }}admin/settings.php?category=Plugins">{{ "Plugins"|get_lang }}</a></li>
                            <li><a href="{{ _p.web_main }}admin/settings.php?category=Regions">{{ "Regions"|get_lang }}</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'Add'|get_lang }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ _p.web_main }}admin/user_add.php">{{ "User"|get_lang }}</a></li>
                            <li><a href="{{ _p.web_main }}admin/course_add.php">{{ "Course"|get_lang }}</a></li>
                            <li><a href="{{ _p.web_main }}session/session_add.php">{{ "Session"|get_lang }}</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>

                {% if is_granted('ROLE_ADMIN') == 1 %}
                <form class="form-inline my-2 my-lg-0" role="search" action="{{ _p.web_main }}admin/user_list.php" method="get">
                    <input type="text" class="form-control" placeholder="{{'SearchUsers'|get_lang }}" name="keyword">
                </form>
                {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('logout') }}">{{ "Logout"|get_lang }}</a></li>
                </ul>
            </div> <!-- /nav collapse -->
        {% endif %}
    </nav><!-- /topbar -->
{% endif %}

{% endautoescape %}