{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
  {% if is_granted('ROLE_CURRENT_COURSE_TEACHER') %}
    <div class="actions">
      <a class="btn btn-secondary"
         href="{{ url('chamilo_core_resource_new_folder', { 'tool': tool, 'type': type, 'cidReq': course.code, 'id': id}) }}">
        {{ 'New folder' | trans }}
      </a>
      <a class="btn btn-secondary"
         href="{{ url('chamilo_core_resource_new', { 'tool': tool, 'type': type, 'cidReq': course.code, 'id': id }) }}">
        {{ 'Create new document' | trans }}
      </a>
      <a class="btn btn-secondary"
         href="{{ url('chamilo_core_resource_upload', { 'tool': tool, 'type': type, 'cidReq': course.code, 'id': id }) }}">
        {{ 'Upload' | trans }}
      </a>
    </div>
  {% endif %}

  {% include '@ChamiloTheme/Resource/grid.html.twig' %}

{% endblock %}
