{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
  {% if is_granted('EDIT', course) %}
    <div class="actions">
      <a class="btn btn-secondary"
         href="{{ url('chamilo_core_resource_new_folder', {'tool': tool, 'type': type, 'cidReq': course.code, 'id_session': sessionObj.id, 'id': id }) }}">
        {{ 'New folder' | trans }}
      </a>
      <a class="btn btn-secondary"
         href="{{ url('chamilo_core_resource_new', { 'tool': tool, 'type': type, 'cidReq': course.code, 'id_session': sessionObj.id,  'id': id }) }}">
        {{ 'Create new document' | trans }}
      </a>
      <a class="btn btn-secondary"
         href="{{ url('chamilo_core_resource_upload', { 'tool': tool, 'type': type, 'cidReq': course.code, 'id_session': sessionObj.id,  'id': id }) }}">
        {{ 'Upload' | trans }}
      </a>
    </div>
  {% endif %}

    <script>
        $(function () {
            $('[data-fancybox="gallery"]').fancybox({
                toolbar: "true",
                buttons: [
                    "zoom",
                    //"share",
                    "slideShow",
                    //"fullScreen",
                    "download",
                    "thumbs",
                    "close"
                ],
                video: {
                    autoStart: false
                }
            });
        });
    </script>

  {% include '@ChamiloTheme/Resource/grid.html.twig' %}
{% endblock %}
