{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
    <div class="box-body">
      {{ form_start(form) }}

      {{ form_errors(form) }}

      {{ form_row(form.title) }}
      {{ form_row(form.content) }}

      {{ form_end(form) }}
    </div>
{% endblock %}
