{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
    {% autoescape false %}
        <h3>{{ resource_node.name }} </h3>
{#        Type: {{ resource_node.resourceType }}<br />#}

        {% if resource_node.resourceFile %}
            {% if resource_node.isResourceFileAnImage %}
                Preview:
                <br />
                <img src=
                     "{{ url(
                         'chamilo_core_resource_file', {id: resource_node.id, 'type' : type, 'tool' : tool, 'filter' : 'resource_show_preview'}
                     ) }}"
                />
            {% else %}

            {% endif %}
            <br />

            Download original file:
            <a href="{{ url('chamilo_core_resource_file', {id: resource_node.id, 'type' : type, 'tool' : tool, 'mode' : 'download'} ) }}">
                {{ resource_node.resourceFile }}
            </a>
            <br />
            Size: {{ resource_node.resourceFile.size }}
            <br /><br />
        {% endif %}

        Updated at: {{ resource_node.updatedAt | date_to_time_ago }}
        <br />
        Created at: {{ resource_node.createdAt | date_to_time_ago }}<br />
        <br />
        Creator: {{ resource_node.creator }}

    {% endautoescape %}
{% endblock %}
