{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
    {% autoescape false %}
        <h3>{{ resource }} </h3>
        {% if resource.resourceNode.resourceFile %}
            {% if resource.resourceNode.isResourceFileAnImage %}
                Preview:
                <br />
                <img src=
                     "{{ url(
                         'chamilo_core_resource_file', {
                             'id': resource.resourceNode.id,
                             'cidReq': course.code,
                             'id_session': sessionObj.id,
                             'type' : type,
                             'tool' : tool,
                             'filter' : 'resource_show_preview'
                         }
                     ) }}"
                />
            {% else %}
            {% endif %}
            <br />

            File:
            <a href="{{ url('chamilo_core_resource_file', {
                'id': resource.resourceNode.id,
                'cidReq': course.code,
                'id_session': sessionObj.id,
                'type' : type,
                'tool' : tool,
                'mode' : 'download'
            }
            )
            }}">
                {{ resource.resourceNode.slug }}
            </a>
            <br />
            Size: {{ resource.resourceNode.resourceFile.size }}
            <br /><br />
        {% endif %}

        Updated at: {{ resource.resourceNode.updatedAt | date_to_time_ago }}
        <br />
        Created at: {{ resource.resourceNode.createdAt | date_to_time_ago }}<br />
        <br />
        Creator: {{ resource.resourceNode.creator }}

        {# Show where the file was added#}
        {% if resource.resourceNode.resourceLinks %}
            <br />
            Added in:
            <br />
            {% for link in resource.resourceNode.resourceLinks  %}
                Course: {{ link.course }} {% if link.session %} - Session: {{ link.session }} {% endif %} - Visibility: {{ link.visibilityName | trans }}
            {% endfor %}
        {% endif %}
    {% endautoescape %}
{% endblock %}
