{% autoescape false %}
    <section id="section-intro">
        <div id="{{ intro.name }}" class="section-intro-content">
            {% if intro.text !='' %}
                {{ intro.text }}
            {% else %}
                {{ intro.help }}
            {% endif %}
        </div>
        <div class="section-intro-toolbar">
            <div class="btn-group btn-group-sm" role="group" aria-label="">
                {% for item in toolbar %}
                    <a href="{{ item.url }}" onclick="{{ (item.onclick!='')? item.onclick : '' }}"
                       title="{{ item.name }}" class="btn btn-light">
                        <i class="{{ item.icon }}"></i>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endautoescape %}