{{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
<div class="mb-4">
    {{ form_label(form.title, null, {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
    {{ form_widget(form.title, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    {{ form_errors(form.title, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
</div>

<div class="mb-4">
    {{ form_label(form.email, null, {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    {{ form_errors(form.email, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
</div>


<button class=" btn btn--primary " name="submit" type="submit" id="update_course_submit">
    <em class="mdi mdi-content-save"></em>
    {{ button_label|default('Save') }}
</button>

{{ form_end(form) }}
