{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
    <h1>{{ "Edit contact category"|trans }}</h1>

    <div class="flex items-center justify-start space-x-2 mb-4">

        <a href="{{ path('chamilo_contact_category_index') }}" class="btn btn--secondary inline-flex items-center">
            <i class="mdi mdi-arrow-left-bold-circle-outline mr-2"></i> {{ "Back to list"|trans }}
        </a>

        {{ include('@ChamiloCore/ContactCategory/_delete_form.html.twig') }}
    </div>

    {{ include('@ChamiloCore/ContactCategory/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
