{% macro display(items, category_id, allow_edit, _c, _u, _p) %}
    {% set edit_img = 'edit.png'|img(22, 'Edit'|get_lang) %}
    {% set visible_img = 'visible.png'|img(22, 'Invisible'|get_lang) %}
    {% set invisible_img = 'invisible.png'|img(22, 'Visible'|get_lang) %}
    {% set delete_img = 'delete.png'|img(22, 'Delete'|get_lang) %}
    {% set baseurl = _p.web_self ~ '?' ~ (_p.web_cid_query ? _p.web_cid_query ~ '&' : '') %}

    <div class="row">
        {% for item in items %}
            <div class="col-sm-6 col-md-4" id="portfolio-item-{{ item.id }}">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ item.title }}</h3>

                        <ul class="fa-ul">
                            {% if _c is empty %}
                                {% if item.session %}
                                    <li>
                                        <span class="fa-li fa fa-book" aria-hidden="true"></span>
                                        {{ 'Course'|get_lang ~ ': ' ~ item.session.name ~ ' (' ~ item.course.title ~ ')' }}
                                    </li>
                                {% elseif not item.session and item.course %}
                                    <li>
                                        <span class="fa-li fa fa-book" aria-hidden="true"></span>
                                        {{ 'Course'|get_lang ~ ': ' ~ item.course.title }}
                                    </li>
                                {% endif %}
                            {% endif %}

                            <li>
                                <span class="fa-li fa fa-clock-o" aria-hidden="true"></span>
                                {{ 'CreationDate'|get_lang ~ ': ' ~ item.creationDate|date_to_time_ago }}
                            </li>

                            {% if item.creationDate != item.updateDate %}
                                <li>
                                    <span class="fa-li fa fa-clock-o" aria-hidden="true"></span>
                                    {{ 'UpdateDate'|get_lang ~ ': ' ~ item.updateDate|date_to_time_ago }}
                                </li>
                            {% endif %}
                        </ul>

                        <hr>

                        {{ item.content }}

                        {% if _u.id == item.user.id %}
                            <hr>

                            <p>
                                <a href="{{ baseurl ~ {'action':'edit_item', 'id':item.id}|url_encode }}" class="btn btn-primary btn-sm">
                                    <span class="fa fa-edit fa-fw" aria-hidden="true"></span>
                                    {{ 'Edit'|get_lang }}
                                </a>
                                {% if item.isVisible %}
                                    <a href="{{ baseurl ~ {'action':'hide_item', 'id':item.id}|url_encode }}" class="btn btn-info btn-sm">
                                        <span class="fa fa-eye-slash fa-fw" aria-hidden="true"></span>
                                        {{ 'Invisible'|get_lang }}
                                    </a>
                                {% else %}
                                    <a href="{{ baseurl ~ {'action':'show_item', 'id':item.id}|url_encode }}" class="btn btn-info btn-sm">
                                        <span class="fa fa-eye fa-fw" aria-hidden="true"></span>
                                        {{ 'Visible'|get_lang }}
                                    </a>
                                {% endif %}
                                <a href="{{ baseurl ~ {'action':'delete_item', 'id':item.id}|url_encode }}" class="btn btn-danger btn-sm btn-delete">
                                    <span class="fa fa-remove fa-fw" aria-hidden="true"></span>
                                    {{ 'Delete'|get_lang }}
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
