<div class="row">
    {% if errors is empty %}
    <div class="col-md-12">
        {{ form }}
    </div>
    {% else %}
        <div class="col-md-6">
            {{ form }}
        </div>
        <div class="col-md-6">
            <h4 class="page-header">{{ 'Errors'|get_lang }}</h4>
            <ul>
                {% for error in errors %}
                    <li>
                        {{ 'Email: %s. %s ago'|format(error.mail, error.time) }}
                        <pre>{{ error.reason|replace({'\n': '<br>'}) }}</pre>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

