{% import '@ChamiloTheme/Macros/box.html.twig' as macro %}

<script>
    $(document).ready(function () {
        $.ajax({
            url: '{{ web_admin_ajax_url }}?a=version',
            success: function (version) {
                $(".admin-block-version").html(version);
            }
        });

        {% if is_granted('ROLE_ADMIN') %}
            $('button.admin-edit-block').on('click', function (e) {
                e.preventDefault();
                /*
                var $self = $(this);

                var extraContent = $.ajax('{{ web_admin_ajax_url }}', {
                    type: 'post',
                    data: {
                        a: 'get_extra_content',
                        block: $self.data('id')
                    }
                });

                $.when(extraContent).done(function (content) {
                    //extraContentEditor.setData(content);
                    $('#extra-block').val($self.data('id'));
                    $('#modal-extra-title').text($self.data('label'));

                    $('#modal-extra').modal('show');
                });*/
            });
        {% endif %}
    });
</script>

<section id="settings">
    <div class="row">
    {% set columns = 2 %}
    {% for block_item in blocks %}
        {% if block_item.items %}
            <div id="tabs-{{ loop.index }}" class="settings-block col-md-6">
                {% set header %}
                    {{ block_item.icon|raw }} {{ block_item.label }}
                    {% if block_item.editable and is_granted('ROLE_ADMIN') %}
                        <a href="{{ web_public ~ 'internal_page/edit/' ~ block_item.class }}"
                           class="btn btn-link btn-sm admin-edit-block float-right">
                            <img src="{{ "edit.png"|icon(22) }}" alt="{{ "Edit"|get_lang }}" title="{{ "Edit"|get_lang }}" />
                        </a>
                    {% endif %}
                {% endset %}

                {% set content %}
                    <div style="display: block;">
                        {{ block_item.search_form|raw }}
                    </div>
                    {% if block_item.items is not null %}
                        <div class="block-items-admin">
                            <ul class="list-items-admin">
                                {% for url in block_item.items %}
                                    <li>
                                        <a href="{{ url.url }}">
                                            {{ url.label }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if block_item.extra is not null %}
                        <div>
                            {{ block_item.extra|raw }}
                        </div>
                    {% endif %}

                    {% if block_item.editable %}
                        {{ render(controller('ChamiloPageBundle:Page:renderPage', {'slug': block_item.class, 'showEditPageLink': false} )) }}
                    {% endif %}
                {% endset %}

                {{ macro.panel(header, content) }}
            </div>
        {% endif %}
    {% endfor %}
    </div>
</section>

{% if is_granted('ROLE_ADMIN') %}
    <div class="modal fade" id="modal-extra">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|get_lang }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-extra-title">{{ 'Blocks'|get_lang }}</h4>
                </div>
                <div class="modal-body">
                    {{ extraDataForm|raw }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
