{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
    <div class="box-body">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <button type="submit" class="btn--primary btn">{{'Save' | trans}}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
