{% extends "@ChamiloCore/Layout/no_layout.html.twig" %}

{% block content %}
    {% autoescape false %}
        <h3>{{ resource }} </h3>
        {% if resource.resourceNode.resourceFile %}
            {% if resource.resourceNode.isResourceFileAnImage %}
                Preview:
                <br />
                <img src=
                     "{{ url(
                         'chamilo_core_resource_view', {
                             'id': resource.resourceNode.id,
                             'cid': course ? course.id : 0,
                             'sid': session ? session.id : 0,
                             'type' : type,
                             'tool' : tool,
                             'filter' : 'resource_show_preview'
                         }
                     ) }}"
                />
            {% elseif resource.resourceNode.hasEditableTextContent %}
                {% autoescape false %}
                <iframe border="0" frameborder="0" style="width:100%;height:600px" src="{{ url('chamilo_core_resource_view', {
                    'id': resource.resourceNode.id,
                    'cid': course ? course.id : 0,
                    'sid': session ? session.id : 0,
                    'type' : type,
                    'tool' : tool
                }
                )
                }}">
                </iframe>
                {% endautoescape %}
            {% else %}
            {% endif %}
            <br />
            Download file:
            <a
                href="{{ url('chamilo_core_resource_download', {
                'id': resource.resourceNode.id,
                'cid': course ? course.id : 0,
                'sid': session ? session.id : 0,
                'type' : type,
                'tool' : tool
            }
            )
            }}">
                {{ resource.resourceNode.slug }}
            </a>
            <br />
            Size: {{ resource.resourceNode.resourceFile.size }}
            <br /><br />
        {% endif %}
    {% endautoescape %}
{% endblock %}
