{% autoescape false %}

{% if resource.resourceNode.resourceFile %}
    <a class="btn btn--success"
       href="{{ url('chamilo_core_resource_view', {
           'id': resource.resourceNode.id,
           'cid': course.id,
           'sid': session.id,
           'type' : type,
           'tool' : tool,
           'mode' : 'download'
       })
       }}">
        {{ 'Download' | trans}}    {# {{ resource.resourceNode.slug }}#}
    </a>
    <br />
    {{ 'Size' | trans }}: {{ resource.resourceNode.resourceFile.size | format_file_size }}
    <br /><br />
{% endif %}

{{ 'Created at' | trans }}: {{ resource.resourceNode.createdAt | date_to_time_ago }}<br />
{{ 'Updated at' | trans }}: {{ resource.resourceNode.updatedAt | date_to_time_ago }}<br />
{{ 'Author' | trans }}: {{ resource.resourceNode.creator }}<br />

{# Show where the file was added#}
{% if resource.resourceNode.resourceLinks %}
    <br />
    Added in:
    <br />
    {% for link in resource.resourceNode.resourceLinks  %}
        Course: {{ link.course }} {% if link.session %} - Session: {{ link.session }} {% endif %} - Visibility: {{ link.visibilityName | trans }}
    {% endfor %}
{% endif %}

{% if is_granted('DELETE', resource.resourceNode) %}
    <a class="btn btn--danger" href="{{ url('chamilo_core_resource_delete', {
        'id': resource.resourceNode.id,
        'cid': course.id,
        'sid': session.id,
        'type' : type,
        'tool' : tool,
    })
    }}">
        {{ 'Delete'|trans }}
    </a>
{% endif %}

{% endautoescape %}
