<p>{{ 'Dear'|get_lang }} {{ complete_name }},</p>
<p>{{ 'You are registered to session: %s.'|get_lang|format(session_name) }}</p>
<p>{{ 'The address of'|get_lang }}  {{ _s.site_name }} {{ 'is'|get_lang }} : {{ _p.web }}</p>
<p>{{ 'In case of trouble, contact us.'|get_lang }}</p>
<p>{{ 'Sincerely'|get_lang }}</p>
