{# templates/contact/index.html.twig #}

{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
    <section id="contact-us" class="py-8">
        <div class="mx-auto w-full">
            <h2 class="text-2xl font-semibold text-center mb-6">{{ "Contact Us"|get_lang }}</h2>

            {{ form_start(form, {'attr': {'class': 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}}) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="mb-4">
                {{ form_label(form.category) }}
                {{ form_widget(form.category, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.subject) }}
                {{ form_widget(form.subject, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            </div>

            <div class="mb-6">
                {{ form_label(form.message) }}
                {{ form_widget(form.message, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            </div>

            <div class="flex items-center justify-center mb-6">
                {{ form_widget(form.termsAccepted, {'attr': {'class': 'mr-2 leading-tight'}}) }}
                {{ form_label(form.termsAccepted, 'By checking this box, I confirm that I accept the data processing by the platform' | trans) }}
            </div>

            <div class="terms-container">
                {{ termsContent | raw }}
            </div>

            <div class="mb-4">
                {{ form_label(form.captcha) }}
                {{ form_widget(form.captcha) }}
                {{ form_errors(form.captcha) }}
            </div>

            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
