<div class="app-breadcrumb">
    <nav class="p-breadcrumb p-component mb-4" aria-label="breadcrumb" data-pc-name="breadcrumb" data-pc-section="root">
        <ol class="p-breadcrumb-list flex items-center" data-pc-section="list">
            <li class="p-breadcrumb-item" data-pc-section="item">
                <a href="{{ url('legacy_main', { 'name' : 'admin/index.php' }) }}" class="p-breadcrumb-item-link" data-pc-section="itemlink">
                    {{ 'Administration'|trans }}
                </a>
            </li>
            <li class="p-breadcrumb-separator" data-pc-section="separator">/</li>
            <li class="p-breadcrumb-item" data-pc-section="item">
                <a href="{{ url('legacy_main', { 'name' : 'admin/access_urls.php' }) }}" class="p-breadcrumb-item-link" data-pc-section="itemlink">
                    {{ 'Multiple access URL'|trans }}
                </a>
            </li>
            <li class="p-breadcrumb-separator" data-pc-section="separator">/</li>
            <li class="p-breadcrumb-item" data-pc-section="item">
                <a href="{{ url('legacy_main', { 'name' : 'admin/access_url_edit_users_to_url.php' }) }}" class="p-breadcrumb-item-link" data-pc-section="itemlink">
                    {{ 'Edit users and URLs'|trans }}
                </a>
            </li>
            <li class="p-breadcrumb-separator" data-pc-section="separator">/</li>
            <li class="p-breadcrumb-item" data-pc-section="item">
                <span class="p-breadcrumb-item-link text-gray-700" data-pc-section="itemlink">
                    {{ title }}
                </span>
            </li>
        </ol>
    </nav>
</div>
