{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
    <h3>{{ user.username }} {{ user.firstname }} {{ user.lastname }}</h3>

    {{ competences|raw }}
    {{ openarea|raw }}
    {{ teach|raw }}
    {{ diplomas|raw }}

    <img src="{{ illustration_url }}"/>
{% endblock %}
