{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
    {% autoescape false %}
        <h3>{{ user.username }}     {{ user.firstname }}    {{ user.lastname }}</h3>

        {{ user.competences }}
        {{ user.openarea }}
        {{ user.teach }}
        {{ user.diplomas }}

        <img src="{{ illustration_url }}"/>
    {% endautoescape %}
{% endblock %}
